# 1

In [121]:
#1)
x=int(input('enter the number:'))
v=2*x**2+3
print('value:',v)

enter the number:1
value: 5

# 2

In [5]:
#2)
x=int(input('enter the 1st number:'))
y=int(input('enter the 2nd number:'))
s=x**2+y**2
print('sum:',s)

enter the 1st number:2
enter the 2nd number:3
sum: 13

# 3

In [7]:
#3)
x=input('enter the word:')
s=len(x)
print('characters:',s)

enter the word:we
characters: 2

# 4

In [8]:
#4)
a=int(input('enter the age:'))
c=100-a
year=2023+c
print('the year they will turn 100 years old:',year)

enter the age:24
the year they will turn 100 years old: 2099

# 5

In [11]:
#5)
a=int(input('enter the number:'))
b=int(input('enter the number:'))
c=int(input('enter the number:'))
if(a>b and a>c):
    print('the largest number is a:',a)
elif(b>a and b>c):
    print('the largest number is b:',b)
else:
    print('the largest number is c:',c)

enter the number:22
enter the number:44
enter the number:55
the largest number is c: 55

# 6

In [12]:
#6)
p=float(input('enter the amount:'))
r=float(input('enter the rate of intrest:'))
n=float(input('enter the year:'))
si=(p*n*r)/100
a=p+si
print('simple intrest:',si)
print('the final amount:',a)

enter the amount:3000
enter the rate of intrest:20
enter the year:2
simple intrest: 1200.0
the final amount: 4200.0

# 7

In [2]:
#area
radius=int(input('enter the radius of the circle:'))
area=2*3.14*radius
print('The area of the circle:',area)

enter the radius of the circle:5
The area of the circle: 31.400000000000002

# 8

In [3]:
a=3
b=2
result=a+b-a*b/a**b
print('result:',result)

result: 4.333333333333333

# 9

In [5]:
s='abcdefgh'
ns=s[::2]
print('new sentence:\t',ns,end=',')
print('new sentence:\t',ns[::-1])

new sentence:	 aceg,new sentence:	 geca

# 10

In [7]:
c=28
f=(9/5)*c+32
print('Temparature in fahrenheit:',f)

Temparature in fahrenheit: 82.4

# 11

In [14]:
n1=int(input('enter the number:'))
n2=int(input('enter the number:'))
a,b=n1>0,n2>0
print('result:',a)
print('result:',b)

enter the number:4
enter the number:-6
result: True
result: False

# 12

In [9]:
def student_grade(c):
    student_name=[]
    student_mark=[]
    for i in range (c):
        name=input(f'enter the name{i+1}:')
        mark=int(input(f'enter the mark:'))
        student_name.append(name)
        student_mark.append(mark)

    
    print('\nresults')
    for i in range(c):
        name=student_name[i]
        mark=student_mark[i]
    
    
        if mark>=91 and mark<=100:
            grade='A+'
        elif mark>=81 and mark<=90:
            grade='A'
        elif mark>=71 and mark<=80:
            grade='B+'
        elif mark>=61 and mark<=70:
            grade='B'
        elif mark>=51 and mark<=60:
            grade='C+'
        elif mark>=41 and mark<=50:
            grade='C'
        elif mark>=31 and mark<=40:
            grade='D'
        else:
            grade='F'
        print(f"{name:}:{grade}")

In [10]:
student_grade(5)

enter the name1:g
enter the mark:55
enter the name2:dd
enter the mark:77
enter the name3:w
enter the mark:34
enter the name4:t
enter the mark:88
enter the name5:p
enter the mark:90

results
g:C+
dd:B+
w:D
t:A
p:A

# 13

In [4]:
n=int(input('enter a number:'))
if n%2==0:
    print('number is even')
else:
    print('number is odd')

enter a number:3
number is odd

# 14

In [11]:
n=int(input('enter a number:'))
count=1
s=0
while count<=n:
    s+=count
    count+=1
print('sum of numbers 1 to',n,'is:',s)

enter a number:4
sum of numbers 1 to 4 is: 10

In [152]:
n=int(input('enter a number:'))
s=n*(n+1)/2
print('sum of numbers 1 to',n,'is:',s)

enter a number:4
sum of numbers 1 to 4 is: 10.0

In [153]:
m=int(input('enter the value:'))
n=int(input('enter the value:'))
if(m<=n):
    s=(n-m+1)*(m+n)/2
else:
    s=(m-n+1)*(n+m)/2
print('sum of natural numbers from m to n:',s)

enter the value:10
enter the value:20
sum of natural numbers from m to n: 165.0

# 15

In [16]:
total=0
for p in range(1,6):
    if p%2==0:
        total+=p
print('total:',total)

total: 6

# 16

In [15]:
total=0
for p in range(1,3):
    for q in range(1,3):
        total+=(p+q)
print('total:',total)

total: 12

# 17

In [19]:
v1=eval(input('enter vector 1:'))
v2=eval(input('enter vector 2:'))
n1=len(v1)
n2=len(v2)
s=0
if n1==n2:
    for n in range(n1):
        s+=v1[n]*v2[n]
    print('result:',s)
else:
    print('length of v1 must need to be same as that of v2')

enter vector 1:[1,2,3]
enter vector 2:[2,3,4]
result: 20

In [20]:
v1=eval(input('enter vector 1:'))
v2=eval(input('enter vector 2:'))
n1=len(v1)
n2=len(v2)
s=0
if n1==n2:
    for n in range(n1):
        s+=v1[n]*v2[n]
    print('result:',s)
else:
    print('length of v1 must need to be same as that of v2')

enter vector 1:[1,2,3]
enter vector 2:[2,3]
length of v1 must need to be same as that of v2

# 18

In [22]:
num=eval(input('enter two numbers in a list:'))
a,b=num[0]>0,num[1]>0
print(a,b)

enter two numbers in a list:[4,0]
True False

# 19

In [3]:
def cal_average(numbers):
    total=0
    count=0
    for num in numbers:
        total+=num
        count+=1
    average=total/count
    return average
numbers=[1,2,3,4,5,6]
result=cal_average(numbers)
print('the average:',result)

the average: 3.5

In [157]:
def cal_average(numbers):
    total=sum(numbers)
    count=len(numbers)
    average=total/count
    return average

cal_average(numbers=[1,2,3,4,5,6])

3.5

In [33]:
21/6

3.5

# 20

In [1]:
def gen_fibonacci(limit):
    fib=[0,1]
    while fib[...]+fib[...]<=limit:
        n_fib=.......
        fib.append(n_fib)
    return fib
n=8
fibo=gen_fibonacci(n)
print(fibo)

SyntaxError: invalid syntax (<ipython-input-1-492dc1754565>, line 4)

In [2]:
def gen_fibonacci(limit):
    fib = [0, 1]
    while fib[-1] + fib[-2] <= limit:
        n_fib = fib[-1] + fib[-2]
        fib.append(n_fib)
    return fib

n = 8
fibo = gen_fibonacci(n)
print(fibo)

[0, 1, 1, 2, 3, 5, 8]

# 21

In [5]:
def modify_list(arr):
    new_arr=[]
    for i in arr:
        if i%2==0:
            new_arr.append(i**2)
        else:
            new_arr.append(i*2)
    return new_arr
def process_matrix(matrix):
    result=[]
    for r in matrix:
        modified_row=modify_list(r)
        result.append(modified_row)
    return result
matrix=[[1,2,3],[4,5,6],[7,8,9]]
processed_matrix=process_matrix(matrix)
total_sum=0
for i in range(len(processed_matrix)):
    for j in range(len(processed_matrix[i])):
        if i==j:
            total_sum+=processed_matrix[i][j]
print(total_sum)

30

# 22

# In a hypothetical university, the students are allowed to sit for the end-semester exam only if the student’s attendance is at least 75%. There are some relaxations to this rule as follows:

The minimum attendance required to appear for the end sem exam is relaxed to 50% if the student had scored 80% in the internal assessment.
For every student, the classes missed due to medical reasons are excused (considered as present)
Write a python code to input the following from user:

No. of classes held
No. of classes attended
No. of classes missed due to medical reasons
The percentage internal marks obtained
Using the above data, print whether the student is eligible to appear for the end semester exam.

Note: Write the program in such a way that the user will be asked the following question at the end (without quotes):

“Do you want to continue for another student? (yes/no) :”

If the user enters "yes", the program will run again for another iteration. Program finally quits when user enters anything other than "yes" for the above question.



Sample output:
(user inputs are shown in bold letters)

No. of classes held: 16
No. of classes attended: 15
No. of classes missed due to medical reasons: 1
The percentage internal marks obtained: 40
Eligible
Do you want to continue for another student? (yes/no) : yes
No. of classes held: 16
No. of classes attended: 4
No. of classes missed due to medical reasons: 4
The percentage internal marks obtained: 75
Not Eligible
Do you want to continue for another student? (yes/no) : no

In [9]:
while True:
    h=int(input('get the no. of classes held:'))
    a=int(input('get no. of classes attended:'))
    m=int(input('get no. of classes missed due to medical reasons:'))
    i=int(input('internal mark of the student:'))
    p=((a+m)/h)*100
    print('persentage of the class attended covered by the medical reasons:',p)
    if (i>=80):
        if(p>=50):
            print(' eligible the end sem exam')
        else:
            print('not eligible  the end sem exam')
    
    else:
        if(p>=75):
            print('is eligible the end sem exam ')
        else:
            print('not eligible the end sem exam ')
    x=str(input('do you want to continue for another students?(yes/no):'))
    if(x=='yes'):
        continue
    else:
        break

get the no. of classes held:55
grt no. of classes attended:44
get no. of classes missed due to medical reasons:8
internal mark of the student:79
persentage of the class attended covered by the medical reasons: 94.54545454545455
is eligible the end sem exam
do you want to continue for another students?(yes/no):no

# 23

In [18]:
n=5
d=0
s=0
for i in range(1,5):
    d=d*10+1
    s=s+d
    print(d,'+',end='')
print('=',s)

1 +11 +111 +1111 += 1234

# 24

In [16]:
def cost(s, n, l):
    a = 2500

    if s == 1:
        a += 1000
    elif s == 2:
        a += 500

    if l == 2:
        a += 750

    if len(n) > 6:
        nl = len(n) - 6
        a += nl * 200

    return a

while True:
    name = input('Enter the name on the sign: ')
    sign = int(input('Enter the type of sign (wood(1)/metal(2)/plastic(3)): '))
    letter = int(input('Enter the type of lettering (normal(1)/gold-leaf(2)): '))
    print(cost(sign, name, letter))
    c_n = int(input('Do you want to continue or not (yes(1)/no(0)): '))
    if c_n == 0:
        break

Enter the name on the sign: hugyftdrstrdtfyguhijoklp
Enter the type of sign (wood(1)/metal(2)/plastic(3)): 3
Enter the type of lettering (normal(1)/gold-leaf(2)): 1
6100
Do you want to continue or not (yes(1)/no(0)): 0

# 25

In [36]:
for i in range(0,5):
    for j in range(i,5):
        print(' ',end='  ')
    for j in range(i+1,0,-1):
        print(j,end='  ')
    print()

               1
            2  1
         3  2  1
      4  3  2  1
   5  4  3  2  1

# 26

write a menu-driven code that has the following options:
    a.data entry
    b.filter data
    c.exit
when the user choose option(a),they will be asked to enter the name and the corresponding date of birth(in dd/mm/yyyy format) of people continuously , until they enter an empty string forname.
when the user choose option(b),they need to enter two values:minimum age and maximun age. once they enter these values,display all names of people whose age fall inside the specified age range,along with their actual age.
After each option, main menu should be displayed. every time user chooses data entry,new data entered will be appended to the already existing data, program exits if user choose option(c)

In [193]:
import datetime
name=[]
t_dob=[]

while True:
    print('a.data entry')
    print('b.filter')
    print('c.exit')
    choice=input('enter the choices(a/b/c):')
    if choice == 'a':
        while True:
            n = input('Enter the name (or press Enter to finish data entry): ')
            if n == '':
                break
            dob=input('enter the date of birth(dd/mm/yyyy):')
            name.append(n)
            t_dob.append(dob)
    elif choice == 'b':
        min_age=int(input('enter the minimum age:'))
        max_age=int(input('enter the maximum age:'))
        print('People in the specified age range:')
        for i in range(len(name)):
            dob = datetime.datetime.strptime(t_dob[i], "%d/%m/%Y")
            age = datetime.datetime.now() - dob
            age_years = age.days // 365
            if min_age<=age_years<=max_age:
                print(f'{name[i]} - {age_years} years old')
    elif choice == 'c':
        break
    else:
        print('enter a invalid option, please enter a valid option')

a.data entry
b.filter
c.exit
enter the choices(a/b/c):a
Enter the name (or press Enter to finish data entry): we
enter the date of birth(dd/mm/yyyy):12/12/1999
Enter the name (or press Enter to finish data entry): po
enter the date of birth(dd/mm/yyyy):23/12/2000
Enter the name (or press Enter to finish data entry): ui
enter the date of birth(dd/mm/yyyy):09/12/2006
Enter the name (or press Enter to finish data entry): tr
enter the date of birth(dd/mm/yyyy):17/09/1998
Enter the name (or press Enter to finish data entry):
a.data entry
b.filter
c.exit
enter the choices(a/b/c):b
enter the minimum age:18
enter the maximum age:25
People in the specified age range:
we - 23 years old
po - 22 years old
tr - 25 years old
a.data entry
b.filter
c.exit
enter the choices(a/b/c):c

In [187]:
import datetime
# Initialize empty lists to store names and ages
names = []
age = []

while True:
    print('a. Data Entry')
    print('b. Filter Data')
    print('c. Exit')
    choice = input('Enter your choice (a/b/c): ')

    if choice == 'a':
        while True:
            name = input('Enter the name (or press Enter to finish data entry): ')
            if name == '':
                break
            d = input('Enter the date of birth (dd/mm/yyyy): ')
            c=10-10-2023
            dob=c[6:10]-d[6:10]
            names.append(name)
            age.append(dob)
    print(f{names}:{age})
    elif choice == 'b':
        min_age = int(input('Enter the minimum age: '))
        max_age = int(input('Enter the maximum age: '))

        print('People in the specified age range:')
        for i in range(len(names)):
            name=names[i]
            ages=age[i]

            if min_age <= age <= max_age:
                print(f'{names[i]} - {age} years old')
    elif choice == 'c':
        break
    else:
        print('Invalid choice. Please select a valid option.')

SyntaxError: invalid syntax (<ipython-input-187-5c22ae20d20d>, line 22)

In [189]:
import datetime

# Initialize empty lists to store names and ages
names = []
age = []

while True:
    print('a. Data Entry')
    print('b. Filter Data')
    print('c. Exit')
    choice = input('Enter your choice (a/b/c): ')

    if choice == 'a':
        while True:
            name = input('Enter the name (or press Enter to finish data entry): ')
            if name == '':
                break
            dob_str = input('Enter the date of birth (dd/mm/yyyy): ')
            dob = datetime.datetime.strptime(dob_str, "%d/%m/%Y")
            age_years = (datetime.datetime.now() - dob).days // 365
            names.append(name)
            age.append(age_years)
        print(f'{names}:{age}')

    elif choice == 'b':
        min_age = int(input('Enter the minimum age: '))
        max_age = int(input('Enter the maximum age: '))

        print('People in the specified age range:')
        for i in range(len(names)):
            if min_age <= age[i] <= max_age:
                print(f'{names[i]} - {age[i]} years old')
    elif choice == 'c':
        break
    else:
        print('Invalid choice. Please select a valid option.')

a. Data Entry
b. Filter Data
c. Exit
Enter your choice (a/b/c): a
Enter the name (or press Enter to finish data entry): we
Enter the date of birth (dd/mm/yyyy): 11/11/1990
Enter the name (or press Enter to finish data entry): er
Enter the date of birth (dd/mm/yyyy): 11/12/1890
Enter the name (or press Enter to finish data entry): ty
Enter the date of birth (dd/mm/yyyy): 09/09/1999
Enter the name (or press Enter to finish data entry): fg
Enter the date of birth (dd/mm/yyyy): 08/09/1990
Enter the name (or press Enter to finish data entry):
['we', 'er', 'ty', 'fg']:[32, 132, 24, 33]
a. Data Entry
b. Filter Data
c. Exit
Enter your choice (a/b/c): b
Enter the minimum age: 22
Enter the maximum age: 55
People in the specified age range:
we - 32 years old
ty - 24 years old
fg - 33 years old
a. Data Entry
b. Filter Data
c. Exit
Enter your choice (a/b/c): c

# 27

for a special project, we need to check if a number satisfies the following three conditions:
    1.not a prime number
    2.odd number
    3.divisible by 7
write a program to enter a number and state whether that number satisfies all conditions.if not, print the nearest largest number that satisfies  all the conditions.

In [178]:
n=int(input('enter the number:'))
def is_prime():
    s=0
    if n>1:
        for i in range(n):
            if(i%n==0):
                s+=1
                break
        if(s!=0):
            return False
        else:
            return True
        
is_prime()

if not is_prime() and n%2!=0 and n%7==0:
    print('The entered number satisfies all conditions.')
else:
    print('The entered number not satisfies all conditions.')

enter the number:44
The entered number not satisfies all conditions.

In [145]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def find_next_number(n):
    while True:
        n += 1
        if not is_prime(n) and n % 2 != 0 and n % 7 == 0:
            return n

n = int(input('Enter the number: '))

if not is_prime(n) and n % 2 != 0 and n % 7 == 0:
    print('The entered number satisfies all conditions.')
else:
    next_number = find_next_number(n)
    print(f'The nearest larger number that satisfies all conditions is {next_number}.')

Enter the number: 4
The nearest larger number that satisfies all conditions is 21.

# 28

In [17]:
def is_divisible_by_seven(number):
    if number % 7 == 0:
        return True
    else:
        return False

# Example usage:
number = 21  # You can replace this with any number you want to check
if is_divisible_by_seven(number):
    print(f'{number} is divisible by 7.')
else:
    print(f'{number} is not divisible by 7.')

21 is divisible by 7.

# 29

In [21]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, int(n**0.5) + 1))

# Example usage:
number = int(input('Enter a number: '))
if is_prime(number):
    print(f'{number} is a prime number.')
else:
    print(f'{number} is not a prime number.')

Enter a number: 5
5 is a prime number.

# 30

you are given a text file which contains the students data in the following format:
    name      profession  age
    aparna    doctor      37
    raghav    lawyer      46
    shanavas  teacher     28
    herison   business    43
    
the name of the text file is " traveler_data.txt". write a python program to read the file and display the names of the people who are doctors by profession. also specify the total number of doctors present in the list

In [14]:
c=int(input('enter the count of the list:'))
name=[]
profession=[]
age=[]
for i in range (c):
    n=input(f'enter the name{i+1}:')
    p=input(f'enter the profession:')
    a=input(f'enter the age:')
    name.append(n)
    profession.append(p)
    age.append(a)

    
# Count the number of doctors and display their names
count=0
doctors_name=[]
for i in range (len(name)):
    if (profession[i]=='doctor'):
        count+=1
        doctors_name.append(name[i])

        
# Display the doctor names and the total count
print('doctors:')
for name in doctors_name:
    print(name)
print(f'total number of doctors are:{count}')

enter the count of the list:4
enter the name1:r
enter the profession:doctor
enter the age:32
enter the name2:ww
enter the profession:teacger
enter the age:43
enter the name3:ttttttttttt
enter the profession:doctor
enter the age:27
enter the name4:ppppppppppp
enter the profession:law
enter the age:31
doctors:
r
ttttttttttt
total number of doctors are:2

In [27]:
# Initialize variables to store data
names = []
professions = []
ages = []

# Read data from the file
with open("traveler_data.txt", "r") as file:
    next(file)  # Skip the header line
    for line in file:
        data = line.strip().split()
        names.append(data[0])
        professions.append(data[1])
        ages.append(data[2])

# Count the number of doctors and display their names
count_doctors = 0
doctor_names = []

for i in range(len(names)):
    if professions[i] == "doctor":
        count_doctors += 1
        doctor_names.append(names[i])

# Display the doctor names and the total count
print("Doctors:")
for name in doctor_names:
    print(name)
print(f"Total number of doctors: {count_doctors}")

FileNotFoundError: [Errno 2] No such file or directory: 'traveler_data.txt'

# 31

In [19]:
n=5
for i in range(1,5):
    print('@',end='')
    for j in range(1,i):
        print('>',end='')
    print('\\')

@\
@>\
@>>\
@>>>\

# 32

research group made a new type of vehicle that has the following characteristics:
    a) after a resting period of 12 hours or more, the fuel efficiency of the vehicle is a whopping 100 km/liter of petrol.
    b)for every 1 kilometer of travel,the fuel efficiency reduces by 1km/liter, and reaches a minimum fuel efficiency of 5 km/liter , after which the fuel efficiency remains the same for the rest of the journey
    c)after every 20 km of journey ,200 ml of special engine oil needs to be put so that no damage happens to the vehicle.
    
write a program to input the following details from the user:
    1) cost of petrol(rupees per liter)
    2)cost of engine oil(rupees per liter)
    3)length of the journey(in km)
    
the program should then calculate and display the total expense of the trip , as well as the expense of the trip per kilometer traveled.


Here's a simple Python algorithm to calculate the total expense of a trip and the expense per kilometer traveled based on the given characteristics:

Input the cost of petrol, cost of engine oil, and length of the journey.
Initialize variables: fuel efficiency, total expense.
Loop through the journey:
a) Check if it's time for a rest (every 12 hours).
b) Calculate the distance to the next rest point or until fuel efficiency reaches 5 km/liter.
c) Calculate the fuel required for the next leg of the journey.
d) Calculate the cost of fuel for this leg.
e) Calculate the cost of engine oil for every 20 km.
f) Update the total expense.
g) Update the remaining journey length.
h) Decrease fuel efficiency by 1 km/liter for every km traveled.
Calculate the expense per kilometer traveled.
Display the total expense and expense per kilometer.
This algorithm simulates the trip and calculates the expenses as per the provided characteristics.

Please note that this is a high-level algorithm. You can implement it in Python code based on this outline.

In [ ]:
cop=int(input('enter the cost of petrol:'))
com_oil=int(input('enter the cost of engine oil:'))
lj=int(input('enter the length of the journey:'))

In [2]:
# Input the cost of petrol, cost of engine oil, and length of the journey
cost_of_petrol = float(input("Enter the cost of petrol (rupees per liter): "))
cost_of_engine_oil = float(input("Enter the cost of engine oil (rupees per liter): "))
journey_length = float(input("Enter the length of the journey (in km): "))

# Initialize variables
fuel_efficiency = 100  # Initial fuel efficiency in km/liter
total_expense = 0     # Total expense for the trip

# Calculate the total expense for the trip
while journey_length > 0:
    # Check if it's time for a rest (every 12 hours)
    if journey_length % 240 == 0:
        fuel_efficiency = 100  # Reset fuel efficiency after a rest

    # Calculate the distance to the next rest point or until fuel efficiency reaches 5 km/liter
    distance_to_next_rest = min(journey_length, 240, fuel_efficiency - 5)
    
    # Calculate the fuel required for the next leg of the journey
    fuel_required = distance_to_next_rest / fuel_efficiency
    
    # Calculate the cost of fuel for this leg
    fuel_cost = fuel_required * cost_of_petrol
    
    # Calculate the cost of engine oil for every 20 km
    engine_oil_cost = (distance_to_next_rest // 20) * 0.2 * cost_of_engine_oil
    
    # Update the total expense
    total_expense += fuel_cost + engine_oil_cost
    
    # Update the remaining journey length
    journey_length -= distance_to_next_rest

    # Decrease fuel efficiency by 1 km/liter for every km traveled
    fuel_efficiency -= distance_to_next_rest

# Calculate the expense per kilometer traveled
expense_per_km = total_expense / (journey_length + distance_to_next_rest)

# Display the results
print(f"Total expense of the trip: {total_expense:.2f} rupees")
print(f"Expense per kilometer traveled: {expense_per_km:.2f} rupees/km")

Enter the cost of petrol (rupees per liter): 50
Enter the cost of engine oil (rupees per liter): 10
Enter the length of the journey (in km): 5
Total expense of the trip: 2.50 rupees
Expense per kilometer traveled: 0.50 rupees/km

In [1]:
# Input details from the user
cost_of_petrol = float(input('Enter the cost of petrol (rupees per liter): '))
cost_of_engine_oil = float(input('Enter the cost of engine oil (rupees per liter): '))
length_of_journey = float(input('Enter the length of the journey (in km): '))

# Initialize variables
total_expense = 0
fuel_efficiency = 100  # Initial fuel efficiency in km/liter
engine_oil_usage = 0

# Calculate the expense
for km in range(1, int(length_of_journey) + 1):
    if km % 20 == 0:
        engine_oil_usage += 0.2  # 200 ml of engine oil per 20 km
    fuel_efficiency = max(fuel_efficiency - 1, 5)  # Reduce fuel efficiency by 1 km/liter, minimum 5 km/liter
    fuel_cost = 1 / fuel_efficiency * cost_of_petrol  # Cost for 1 km
    total_expense += fuel_cost

# Calculate the total expense of the trip
total_expense += engine_oil_usage * cost_of_engine_oil

# Calculate the expense per kilometer traveled
expense_per_km = total_expense / length_of_journey

# Display the results
print(f'Total Expense of the Trip: {total_expense:.2f} rupees')
print(f'Expense per Kilometer Traveled: {expense_per_km:.2f} rupees/km')

Enter the cost of petrol (rupees per liter): 55
Enter the cost of engine oil (rupees per liter): 22
Enter the length of the journey (in km): 23
Total Expense of the Trip: 18.86 rupees
Expense per Kilometer Traveled: 0.82 rupees/km

# 33

In [2]:
#area of a room 3
l=float(input('enter the length:'))
b=float(input('enter the widthth:'))
area=l*b
print('area of the room:',area)

enter the length:33
enter the breath:22
area of the room: 726.0

# 34

In [3]:
#area of a field 4
l=float(input('enter the length:'))
b=float(input('enter the widthth:'))
sqft_per_area=43560
acres=l*b/sqft_per_area
print('area of the room:',acres)

enter the length:33
enter the widthth:22
area of the room: 0.016666666666666666

# 35

In [9]:
#bottle deposit 5
less_container=0.10
more_container=0.25
less=eval(input('enter the 1 liter or less deposit: '))
more=eval(input('enter greater than 1 liter deposit:'))
refund=less_container*less+more_container*more
print('The total refund will be %.2f',refund)

enter the 1 liter or less deposit: 3
enter greater than 1 liter deposit:3
The total refund will be %.2f 1.05

# 36

In [12]:
#tax and tip 6
tax_percentage=5
tip_percentage=18
cost=float(input('enter the food cost:'))
tax=cost*tax_percentage/100
tip=cost*tip_percentage/100
Amount=cost+tax+tip
print('tax:',tax)
print('tip:',tip)
print('the total amount of the bill payment:',Amount)

enter the food cost:13980
tax: 699.0
tip: 2516.4
the total amount of the bill payment: 17195.4

# 37

In [18]:
#sum of first n positive number 7
n=int(input('enter the number:'))
if n>0:
    s=n*(n+1)/2
print('the sum of first n positive number:',s)

enter the number:6
the sum of first n positive number: 21.0

# 38

In [25]:
#widgets and gizmos weight calculation 8
widgets_w_g=75  #weight in gram
gizmos_w_g=112 #weight in gram
widgets=eval(input('enter the number of widgets needed:'))
gizmos=eval(input('enter the number of gizmos needed:'))
total_widgets=widgets_w_g*widgets
total_gizmos=gizmos_w_g*gizmos
grand_total=total_widgets+total_gizmos
print('the total weight of the order:',grand_total)

enter the number of widgets needed:230
enter the number of gizmos needed:210
the total weight of the order: 40770

# 39

In [31]:
#compund intrest 9
p=eval(input('enter the principal amount:'))
r=eval(input('enter the rate of intrest:'))
n=eval(input('enter the number of year:'))
c=(p*(1+r/100)**n)-p
a=p*(1+r/100)**n
print('the compound intrest:',c,'\ntotal amount:',a)

enter the principal amount:10000
enter the rate of intrest:20
enter the number of year:2
the compound intrest: 4400.0
total amount: 14400.0

# 40

In [20]:
#arithmetic operation 10
a=int(input('enter the first number:'))
b=int(input('enter the second number:'))
print(a,'+',b,'=',a+b)
print(a,'-',b,'=',a-b)
print(a,'*',b,'=',a*b)
print(a,'/',b,'=',a/b)
print(a,'**',b,'=',a**b)
print(a,'%',b,'=',a%b)

enter the first number:10
enter the second number:2
10 + 2 = 12
10 - 2 = 8
10 * 2 = 20
10 / 2 = 5.0
10 ** 2 = 100
10 % 2 = 0

In [21]:
11%2

1

In [22]:
11//2

5

In [23]:
11/2

5.5

# 41

In [39]:
#fuel efficiency 11
mpg=eval(input('enter the miles per gallon(mpg):'))
liter_km=235.21/mpg
print(mpg,'mpg is eguals to',liter_km,'l/100km')

enter the miles per gallon(mpg):24
24 mpg is eguals to 9.800416666666667 l/100km

In [36]:
import math
sin 2

SyntaxError: invalid syntax (<ipython-input-36-c98f2bc7ef6a>, line 2)

# 42

In [37]:
import math

# Calculate the sine of 30 degrees
sine_30 = math.sin(math.radians(30))  # Convert degrees to radians

# Print the result
print("Sine of 30 degrees:", sine_30)

Sine of 30 degrees: 0.49999999999999994

# 43

In [40]:
#height units foot to inch to centimeter 14
feet=eval(input('enter the number of feet:'))
centimeter=(feet*12)*2.54  #Hint:One foot 12 inches.One inch 2.54 centimeters
print('feet in centimeter:',centimeter)

enter the number of feet:44
feet in centimeter: 1341.1200000000001

# 44

In [41]:
#distance units feet to inches,yards,miles 15
feet=eval(input('enter the feet number:'))
feet_inches= feet * 12
feet_yards= feet * (1/3)
feet_miles= feet * (1/5280)
print('convert feet to inches',feet_inches)
print('convert feet to yards',feet_yards)
print('convert feet to miles',feet_miles)

enter the feet number:34
convert feet to inches 408
convert feet to yards 11.333333333333332
convert feet to miles 0.006439393939393939

# 45

In [43]:
#area and volume circle 16
r=eval(input('enter the radius of the circle:'))
area=3.14*r**2
volume=4/3*3.14*r**3
print('area of the circle:',area,'\nvolume of the circle:',volume)

enter the radius of the circle:10
area of the circle: 314.0
volume of the circle: 4186.666666666667

# 46

In [ ]:
#heat capacity 17

# 47

In [1]:
#volume of a cylinder 18
r=eval(input('enter the radius of the cylinder:'))
h=eval(input('enter the height of the cylinder:'))
v=3.14*r**2*h
print('the volume of the cylinder:',v)

enter the radius of the cylinder:3
enter the height of the cylinder:4
the volume of the cylinder: 113.04

# 48

In [2]:
#free fall 19
height=eval(input('enter the height from which object is dropped:'))
vi=0     #Initial speed (0 m/s)
a_g=9.8 # Acceleration due to gravity (9.8 m/s^2)
vf=((vi**2)+(2*a_g*height))**0.5  # Calculate the final speed
print(f'the objects final speed when it hits the ground is approximately {vf:.2f} m/s')

enter the height from which object is dropped:34
the objects final speed when it hits the ground is approximately 25.81 m/s

# 49

In [5]:
#area of a triangle 22
s1=eval(input('enter the triangle side1:'))
s2=eval(input('enter the triangle side2:'))
s3=eval(input('enter the triangle side3:'))
s=(s1+s2+s3)/2
area=(s*(s-s1)*(s-s2)*(s-s3))**0.5
print('The area of the triangle:',area)

enter the triangle side1:3
enter the triangle side2:4
enter the triangle side3:5
The area of the triangle: 6.0

 # 50

In [8]:
#area of a regular polygon 23
from math import tan,pi
s=eval(input('enter the triangle length of the side:'))
n=eval(input('enter the number sides:'))
area=((n*s**2)/(4*tan(pi/n)))
print('the area of the polygon:',area)

enter the triangle length of the side:10
enter the number sides:5
the area of the polygon: 172.04774005889672

# 51

In [9]:
#units of time 25
s=eval(input('enter the time in seconds:'))
d=s//86400
s_hr=s%86400
hr=s_hr//3600
s_min=s_hr%3600
mins=s_min//60
s_s=s_min%60
print(d,'days',hr,'hours',mins,'minutes',s_s,'sencods')

enter the time in seconds:50000000
578  days 16 hours 53 minutes 20 sencods

# 52

In [11]:
#body mass index 27
weight=eval(input('enter the weight of the body:'))
height=eval(input('enter the height of the body:'))
bmi=weight/height**2
print('body mass index:',bmi)

enter the weight of the body:25
enter the height of the body:12
body mass index: 0.1736111111111111

# 53

In [14]:
#celcius to fahrenheit and kelvin 29
c=eval(input('enter the temparature in celcius:'))
f=c*(9/5)+32
k=((f-32)*(5/9))+273.15
print('the temparature in fahrenheit:',f,'\ntemparature converts celciust to kelvin:',k)

enter the temparature in celcius:45
the temparature in fahrenheit: 113.0
temparature converts celciust to kelvin: 318.15

# 54

In [15]:
#units of pressure 30
# Input pressure in kilopascals
pressure_kpa = float(input("Enter pressure in kilopascals (kPa): "))

# Conversion factors
kpa_to_psi = 0.14503773773375
kpa_to_mmhg = 7.50062
kpa_to_atm = 0.00986923

# Convert pressure to other units
pressure_psi = pressure_kpa * kpa_to_psi
pressure_mmhg = pressure_kpa * kpa_to_mmhg
pressure_atm = pressure_kpa * kpa_to_atm

# Display the equivalent pressures
print(f"Equivalent pressure in pounds per square inch (psi): {pressure_psi:.2f} psi")
print(f"Equivalent pressure in millimeters of mercury (mmHg): {pressure_mmhg:.2f} mmHg")
print(f"Equivalent pressure in atmospheres (atm): {pressure_atm:.2f} atm")

Enter pressure in kilopascals (kPa): 120
Equivalent pressure in pounds per square inch (psi): 17.40 psi
Equivalent pressure in millimeters of mercury (mmHg): 900.07 mmHg
Equivalent pressure in atmospheres (atm): 1.18 atm

# 55

In [26]:
#Sum of the Digits in an Integer 31
n=int(input('enter the number:'))
if n>0:
    n_str=str(n)
    s=0
    for digit in n_str:
        s+=int(digit)
        
    # Display the result
    print(f"The sum of the digits in {n} is {'+'.join(n_str)} = {s}")
else:
    print('please enter a valid positive integer')

enter the number:3245
The sum of the digits in 3245 is 3+2+4+5 = 14

# 56

In [30]:
;#Sort 3 Integers 32
a,b,c=eval(input('enter the numbers:'))
mx=max(a,b,c)
mn=min(a,b,c)
md=(a+b+c)-mx-mn
print('maximun of the number:',mx,'\nminimum of the number:',mn,'\nmiddle value of the number:',md)

enter the numbers:33,44,12
maximun of the number: 44
minimum of the number: 12
middle value of the number: 33

# 57

In [37]:
#day old bread 33
bread_price=3.49
discount_rate=.60
num_loaves=int(input('enter the number of daya old loaves:'))
regular_price=bread_price*num_loaves
discount_price=regular_price*discount_rate
total_amount=regular_price-discount_price
print(f'the regular price:{regular_price:.2f}')
print(f'the discount price:{discount_price:.2f}')
print(f'the total price:{total_amount:.2f}')

enter the number of daya old loaves:34
the regular price:118.66
the discount price:71.20
the total price:47.46

# 58

In [40]:
#even or odd 34
n=int(input('enter the number:'))
if n%2==0:
    print('the number is even')
else:
    print('the number is odd')

enter the number:445
the number is odd

# 59

In [69]:
#vowels or consonants
letter=input('enter a alphabetic letter:')
letter=letter.lower()
if letter in 'a,e,i,o,u':
    print('the letter is vowel')
else:
    print('the letter is consonant')

enter a alphabetic letter:E
the letter is vowel

In [90]:
#vowels or consonants count 36
letter=input('enter the sentence:')
v_count=0
c_count=0

for i in letter:
    lowercase=i.lower()
    if lowercase.isalpha():  # Check if the character is a letter
        if lowercase in 'a,e,i,o,u':
            v_count+=1

        else:
            c_count+=1
print('the total vowels count:',v_count)
print('the total consonants count:',c_count)

enter the sentence:we are
the total vowels count: 3
the total consonants count: 2

In [72]:
37,38,39,40,45,135

0

# 60

In [93]:
#note to freequency 41
c4_freq=261.63
d4_freq=293.66
e4_freq=329.63
f4_freq=349.23
g4_freq=392.00
a4_freq=440.00
b4_freq=493.88

name=input('enter the two character note name,such as c4:')

note=name[0]
octave=int(name[1])

if note=='c':
    freq=c4_freq
elif note=='d':
    freq=d4_freq
elif note=='e':
    freq=e4_freq
elif note=='f':
    freq=f4_freq
elif note=='g':
    freq=g4_freq
elif note=='a':
    freq=a4_freq
elif note=='b':
    freq=b4_freq
    
freq=freq/2**(4-octave)

print('the freequency of',name,'is',freq)

enter the two character note name,such as c4:e4
the freequency of e4 is 329.63

# 61

In [96]:
#freequency to note 42

c4_freq=261.63
d4_freq=293.66
e4_freq=329.63
f4_freq=349.23
g4_freq=392.00
a4_freq=440.00
b4_freq=493.88
limit=1

freq=float(input('enter a freequency:'))
if freq>=c4_freq - limit and freq<= c4_freq + limit:
    note='c4'
elif freq>=d4_freq - limit and freq<= d4_freq + limit:
    note='d4'
elif freq>=e4_freq - limit and freq<= e4_freq + limit:
    note='e4'
elif freq>=f4_freq - limit and freq<= f4_freq + limit:
    note='f4'
elif freq>=g4_freq - limit and freq<= g4_freq + limit:
    note='g4'
elif freq>=a4_freq - limit and freq<= a4_freq + limit:
    note='a4'
elif freq>=b4_freq - limit and freq<= b4_freq + limit:
    note='b4'
else:
    note=''
    
    
if note=='':
    print('there is no note that corresponds to that freequency.')
    
else:
    print('that freequency is',note)

enter a freequency:440.00
that freequency is a4

# 62

In [98]:
# letter grade to grade points 51
A=4.0
A_MINUS=3.7
B_PLUS=3.3
B=3.0
B_MINUS=2.7
C_PLUS=2.3
C=2.0
C_MINUS=1.7
D_PLUS=1.3
D=1.0
F=0
INVALID=-1

letter=input('enter a letter grade:')
letter=letter.upper()


if letter=='A+' or letter=='A':
    gp=A
elif letter=='A-':
    gp=A_MINUS
elif letter=='B+':
    gp=B_PLUS
elif letter=='B':
    gp=B
elif letter=='B-':
    gp=B_MINUS
elif letter=='C+':
    gp=C_PLUS
elif letter=='C':
    gp=C
elif letter=='C-':
    gp=C_MINUS
elif letter=='D+':
    gp=D_PLUS
elif letter=='D':
    gp=D
elif letter=='F':
    gp=F
else:
    gp=INVALID
    
    
if gp==INVALID:
    print('that wasnt a valid number of grade points.')
else:
    print('thats',gp,'grade points.')

enter a letter grade:a
thats 4.0 grade points.

# 63

In [99]:
#maximum integer 79
import random

# Initialize the maximum value with the first random integer
max_value = random.randint(1, 100)
update_count = 0

# Display the first random integer
print(max_value, "(Initial Maximum)")

# Generate and check 99 additional random integers
for _ in range(99):
    random_int = random.randint(1, 100)
    if random_int > max_value:
        max_value = random_int
        update_count += 1
        print(random_int, "(New Maximum)")
    else:
        print(random_int)

# Display the maximum value and the number of updates
print("\nMaximum Value Encountered:", max_value)
print("Number of Updates:", update_count)

63 (Initial Maximum)
100 (New Maximum)
61
47
96
95
26
76
61
47
12
57
84
38
36
76
21
71
34
100
10
82
4
55
36
77
100
9
70
31
45
31
52
45
78
17
36
88
22
26
69
79
67
36
25
20
27
9
54
53
79
43
61
77
88
33
56
58
13
70
21
86
80
15
57
54
80
61
50
62
12
55
10
46
30
14
81
58
76
100
13
64
42
87
83
17
3
42
53
46
22
73
26
97
77
70
18
68
14
79

Maximum Value Encountered: 100
Number of Updates: 1

# 64

In [107]:
#compute the hypotenues 81
def calc():
    side1 = float(input("Enter the length of the first shorter side: "))
    side2 = float(input("Enter the length of the second shorter side: "))
    hypotenuse=((side1**2)+(side2**2))**0.5
    print(f"The length of the hypotenuse is: {hypotenuse}")
calc()

Enter the length of the first shorter side: 4
Enter the length of the second shorter side: 5
The length of the hypotenuse is: 6.4031242374328485

# 65

In [108]:
#arbitory base conversion 99
def convert_base(number, src_base, target_base):
    # Step 1: Convert the number to base 10 (decimal)
    decimal_number = 0
    power = 0

    while number > 0:
        digit = number % 10
        decimal_number += digit * (src_base ** power)
        power += 1
        number //= 10

    # Step 2: Convert the decimal number to the target base
    target_number = ""
    
    while decimal_number > 0:
        digit = decimal_number % target_base
        target_number = str(digit) + target_number
        decimal_number //= target_base

    return target_number

# Example usage:
src_base = 8  # Source base (e.g., octal)
target_base = 16  # Target base (e.g., hexadecimal)
number = 45  # The number in the source base

result = convert_base(number, src_base, target_base)
print(f"{number} in base {src_base} is equivalent to {result} in base {target_base}")

45 in base 8 is equivalent to 25 in base 16

# 66

In [109]:
#sorted order 104
data=[]
num=int(input('enter an integer(0 to quit):'))
while num!=0:
    data.append(num)
    num=int(input('enter an integer(0 to quit):'))
data.sort()

print('the values,sorted into ascending order, are:')
for num in data:
    print(num)

enter an integer(0 to quit):2
enter an integer(0 to quit):3
enter an integer(0 to quit):1
enter an integer(0 to quit):11
enter an integer(0 to quit):0
the values,sorted into ascending order, are:
1
2
3
11

# 67

In [111]:
#remove duplicates 107
words=[]
word=input('enter a word(blank line to quit):')
while word!='':
    if word not in words:
        words.append(word)
    word=input('enter a word(blank line to quit):')
    
for word in words:
    print(word)

enter a word(blank line to quit):we
enter a word(blank line to quit):we
enter a word(blank line to quit):are
enter a word(blank line to quit):to
enter a word(blank line to quit):cat
enter a word(blank line to quit):del
enter a word(blank line to quit):kill
enter a word(blank line to quit):you
enter a word(blank line to quit):to
enter a word(blank line to quit):is
enter a word(blank line to quit):are
enter a word(blank line to quit):
we
are
to
cat
del
kill
you
is

# 68

In [114]:
#formatting a list 113

def formatlist(items):
    if len(items)==0:
        return '<empty>'
    if len(items)==1:
        return str(item[0])
    result=''
    for i in range(0,len(items)-2):
        result+=str(items[i])+','
        
    result+=str(items[len(items)-2])+'and'
    result+=str(items[len(items)-1])
    return result

def main():
    items=[]
    line=input('enter an item (blankn to quit)')
    while line!='':
        items.append(line)
        line=input('enter an item (blankn to quit)')
        
    print('the items are: %s.'%formatlist(items))
        
        
main()

enter an item (blankn to quit)we
enter an item (blankn to quit)were
enter an item (blankn to quit)to
enter an item (blankn to quit)pol
enter an item (blankn to quit)kil
enter an item (blankn to quit)an
enter an item (blankn to quit)yo
enter an item (blankn to quit)
the items are: we,were,to,pol,kil,anandyo.

# 69

In [115]:
#random lottery numbers114

from random import randrange
min_num=1
max_num=49
num_nums=6

ticket_nums=[]

for i in range(num_nums):
    rand=randrange(min_num,max_num+1)
    while rand in ticket_nums:
        rand=randrange(min_num,max_num+1)
        
    ticket_nums.append(rand)
    
ticket_nums.sort()
print('your numbers are:',end='')
for n in ticket_nums:
    print(n,end='')
print()

your numbers are:5611283336

# 70

In [118]:
#recursive palindrome167
def is_palindrome(s):
    # Base case: If the string has 0 or 1 character, it's a palindrome.
    if len(s) <= 1:
        return True
    # Compare the first and last characters.
    if s[0] == s[-1]:
        # Recursively check the substring without the first and last characters.
        return is_palindrome(s[1:-1])
    else:
        # If the first and last characters don't match, it's not a palindrome.
        return False

# Input string to check for palindrome
input_string = input("Enter a string: ")

# Remove spaces and convert to lowercase for case-insensitive comparison
input_string = input_string.replace(" ", "").lower()

# Check if it's a palindrome and display the result
if is_palindrome(input_string):
    print(f"{input_string} is a palindrome.")
else:
    print(f"{input_string} is not a palindrome.")

Enter a string: malayalam
malayalam is a palindrome.

# 71

In [120]:
#string edit distance 169
def edit_distance(s, t):
    if len(s) == 0:
        return len(t)
    elif len(t) == 0:
        return len(s)
    else:
        cost = 0 if s[-1] == t[-1] else 1
        d1 = edit_distance(s[:-1], t) + 1
        d2 = edit_distance(s, t[:-1]) + 1
        d3 = edit_distance(s[:-1], t[:-1]) + cost
        return min(d1, d2, d3)

def main():
    string1 = input("Enter the first string: ")
    string2 = input("Enter the second string: ")

    distance = edit_distance(string1, string2)

    print(f"The edit distance between '{string1}' and '{string2}' is {distance}.")

if __name__ == "__main__":
    main()

Enter the first string: po
Enter the second string: lok
The edit distance between 'po' and 'lok' is 2.

# 72 decimal conversion

In [131]:
#decimal to binary
decimal=eval(input('enter the decimal number:'))
binary=''
while (decimal>0):
    s=decimal%2
    binary=str(s)+binary
    decimal//=2
    
print(binary,end='')

enter the decimal number:29
11101

# 73

In [133]:
decimal=int(input('enter the decimal number:'))
octal=''
while(decimal>0):
    s=decimal%8
    octal=str(s)+octal
    decimal//=8
        
print(octal,end='')

enter the decimal number:29
35

# 74

In [139]:
decimal=int(input('enter the decimal number:'))
hexa=''
while (decimal>0):
    s=decimal%16
    if s<10:
        hexa=str(s)+hexa
    else:
        hexa=chr(ord('A')+s-10)+hexa
    decimal//=16
    
print(hexa,end='')

enter the decimal number:29
1D

# 75

In [9]:
def bin2dec():
    binary=int(input('enter the binary number:'))
    decimal=0
    p=0
    while(binary>0):
        decimal+=(binary%10)*(2**p)
        p+=1
        binary//=10
    print(f'the decimal number:{decimal}')
bin2dec()

enter the binary number:11101
the decimal number:29

# 76

In [11]:
def oct2dec():
    octal=int(input('enter the number:'))
    decimal=0
    p=0
    while octal>0:
        decimal+=(octal%10)*(8**p)
        p+=1
        octal//=10
    print(f'the decimal number:{decimal}')
    
oct2dec()

enter the number:35
the decimal number:29

# 77

In [35]:
def hex2dec():
    hexa=input('enter the number:')
    decimal=0
    p=0
    for digit in hexa[::-1]:
        if '0' <= digit<='9':
            decimal+=int(digit)*16**p
        elif 'A' <= digit.upper()<= 'F':
            decimal+=ord(digit.upper())-ord('A')+10 *16**p
        p+=1
        
    print(f'the decimal number{decimal}')
hex2dec()

enter the number:1d
the decimal number29

# 78

In [39]:
# program to find SUM=12+22+32+.........N

n=int(input('enter the number:'))
s=0
digit=2
for i in range(1,n+1):
    digit=digit+10
    s+=digit
    print(digit,'+',end=' ')
print('=',s)

enter the number:5
12 + 22 + 32 + 42 + 52 + = 160

# 79

In [41]:
# program to find the sum of the series 1+11+111+1111+...........nterms
n=int(input('enter the limit of number:'))
digit=0
s=0
for i in range(1,n+1):
    digit=digit*10+1
    s+=digit
    print(digit,'+',end=' ')
print('=',s)

enter the limit of number:5
1 + 11 + 111 + 1111 + 11111 + = 12345

# 80

In [45]:
# program to find the determinant of a matrices
import numpy as np

def calculate_determinant(matrix):
    # Check if the matrix is square
    if matrix.shape[0] != matrix.shape[1]:
        return "Matrix is not square. Determinant undefined."
    
    # Calculate the determinant
    determinant = np.linalg.det(matrix)
    
    return determinant

def main():
    # Input the matrix (you can customize the matrix size and values)
    matrix = np.array([[1, 2, 3],
                       [4, 5, 6],
                       [7, 8, 9]])
    
    determinant = calculate_determinant(matrix)
    
    if isinstance(determinant, str):
        print(determinant)
    else:
        print(f"The determinant of the matrix is: {determinant}")

if __name__ == "__main__":
    main()

The determinant of the matrix is: -9.51619735392994e-16

# 81

# explanation of the above program
In this program:

We use NumPy to perform matrix operations.
The calculate_determinant function calculates the determinant of the input matrix using np.linalg.det.
Before calculating the determinant, we check if the matrix is square (having the same number of rows and columns).
In the main function, you can input your matrix by modifying the matrix variable as needed.
The program then calculates and displays the determinant of the matrix.
Make sure to have NumPy installed in your Python environment. You can install it using pip install numpy if it's not already installed.

In [46]:
# program to find the difference between two m x n matrices
def subtract_matrices(matrix1, matrix2):
    if len(matrix1) != len(matrix2) or len(matrix1[0]) != len(matrix2[0]):
        return "Matrices must have the same dimensions for subtraction."
    
    result = []
    for i in range(len(matrix1)):
        row = []
        for j in range(len(matrix1[0])):
            row.append(matrix1[i][j] - matrix2[i][j])
        result.append(row)
    
    return result

def print_matrix(matrix):
    for row in matrix:
        print(row)

def main():
    # Input matrices (you can customize the dimensions and values)
    matrix1 = [[1, 2, 3],
               [4, 5, 6],
               [7, 8, 9]]
    
    matrix2 = [[9, 8, 7],
               [6, 5, 4],
               [3, 2, 1]]
    
    result = subtract_matrices(matrix1, matrix2)
    
    if isinstance(result, str):
        print(result)
    else:
        print("Matrix 1:")
        print_matrix(matrix1)
        print("Matrix 2:")
        print_matrix(matrix2)
        print("Difference Matrix:")
        print_matrix(result)

if __name__ == "__main__":
    main()

Matrix 1:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Matrix 2:
[9, 8, 7]
[6, 5, 4]
[3, 2, 1]
Difference Matrix:
[-8, -6, -4]
[-2, 0, 2]
[4, 6, 8]

# 82

In [59]:
# program to find the number and sum of all integer between 100 and 200 which are divisible by 9

count=0
s=0
for i in range(100,200+1):
    if(i%9==0):
        print(i)
        count+=1
        s+=i
print('the divisible numbers count is:',count)
print('total sum of the divisible numbers:',s)

108
117
126
135
144
153
162
171
180
189
198
the divisible numbers count is: 11
total sum of the divisible numbers: 1683

# 83

In [64]:
#program to find the prime numbers within a range of numbers

a=int(input('the starting number greater than one:'))
b=int(input('the ending number:'))
for i in range(a,b+1):
    if i>1:
        for j in range(a,i):
            if(i%j==0):
                break
        else:
            print(i)

the starting number:2
the ending number:10
2
3
5
7

In [145]:
def prime_num(n):
    s=0
    if n==0:
        print('not prime')
    for i in range(2,n):
        if n%i==0:
            s+=1
            
    else:
        if(s!=0):
            print('not prime')
        else:
            print('prime')
                
prime_num(2)

prime

# 84

In [67]:
a = int(input('Enter the starting number greater than one: '))
b = int(input('Enter the ending number: '))

for num in range(a, b + 1):
    if num > 1:
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                break
        else:
            print(num)

Enter the starting number greater than one: 5
Enter the ending number: 55
5
7
11
13
17
19
23
29
31
37
41
43
47
53

# 85

In [83]:
# program to find the product of two m x n matrices
def matrix_multiply(matrix1, matrix2):
    if len(matrix1[0]) != len(matrix2):
        return "Matrix dimensions are incompatible for multiplication."
    
    result = [[0 for _ in range(len(matrix2[0]))] for _ in range(len(matrix1))]
    
    for i in range(len(matrix1)):
        for j in range(len(matrix2[0])):
            for k in range(len(matrix2)):
                result[i][j] += matrix1[i][k] * matrix2[k][j]
    
    return result

def print_matrix(matrix):
    for row in matrix:
        print(row)

def main():
    # Input matrices (you can customize the dimensions and values)
    matrix1 = [[1, 2, 3],
               [4, 5, 6]]
    
    matrix2 = [[7, 8],
               [9, 10],
               [11, 12]]
    
    product = matrix_multiply(matrix1, matrix2)
    
    if isinstance(product, str):
        print(product)
    else:
        print("Matrix 1:")
        print_matrix(matrix1)
        print("Matrix 2:")
        print_matrix(matrix2)
        print("Product Matrix:")
        print_matrix(product)

if __name__ == "__main__":
    main()

Matrix 1:
[1, 2, 3]
[4, 5, 6]
Matrix 2:
[7, 8]
[9, 10]
[11, 12]
Product Matrix:
[58, 64]
[139, 154]

# 86

In [84]:
# program to find the sum of two m x n matrices

def matrix_addition(matrix1, matrix2):
    if len(matrix1) != len(matrix2) or len(matrix1[0]) != len(matrix2[0]):
        return "Matrix dimensions are not compatible for addition."
    
    result = []
    for i in range(len(matrix1)):
        row = []
        for j in range(len(matrix1[0])):
            row.append(matrix1[i][j] + matrix2[i][j])
        result.append(row)
    
    return result

def print_matrix(matrix):
    for row in matrix:
        print(row)

def main():
    # Input matrices (you can customize the dimensions and values)
    matrix1 = [[1, 2, 3],
               [4, 5, 6]]
    
    matrix2 = [[7, 8, 9],
               [10, 11, 12]]
    
    sum_matrix = matrix_addition(matrix1, matrix2)
    
    if isinstance(sum_matrix, str):
        print(sum_matrix)
    else:
        print("Matrix 1:")
        print_matrix(matrix1)
        print("Matrix 2:")
        print_matrix(matrix2)
        print("Sum Matrix:")
        print_matrix(sum_matrix)

if __name__ == "__main__":
    main()

Matrix 1:
[1, 2, 3]
[4, 5, 6]
Matrix 2:
[7, 8, 9]
[10, 11, 12]
Sum Matrix:
[8, 10, 12]
[14, 16, 18]

# 87

In [85]:
# program to find the transpose of two m x n matrices
def transpose_matrix(matrix):
    rows = len(matrix)
    cols = len(matrix[0])

    # Create a new matrix with dimensions cols x rows for the transpose
    transpose = [[0 for _ in range(rows)] for _ in range(cols)]

    for i in range(rows):
        for j in range(cols):
            transpose[j][i] = matrix[i][j]

    return transpose

def print_matrix(matrix):
    for row in matrix:
        print(row)

def main():
    # Input matrix (you can customize the dimensions and values)
    matrix = [[1, 2, 3],
              [4, 5, 6]]

    transposed_matrix = transpose_matrix(matrix)

    print("Original Matrix:")
    print_matrix(matrix)

    print("Transposed Matrix:")
    print_matrix(transposed_matrix)

if __name__ == "__main__":
    main()

Original Matrix:
[1, 2, 3]
[4, 5, 6]
Transposed Matrix:
[1, 4]
[2, 5]
[3, 6]

# 88

In [86]:
#program to print a string in reverse order
n=input('enter the string :')
s=n[::-1]
print('the reverse order of the string:',s)

enter the string :we are togeter
the reverse order of the string: retegot era ew

In [87]:
def reverse_string(input_string):
    reversed_str = input_string[::-1]
    return reversed_str

def main():
    input_string = input("Enter a string: ")
    reversed_str = reverse_string(input_string)
    print("Reversed string:", reversed_str)

if __name__ == "__main__":
    main()

Enter a string: we are together
Reversed string: rehtegot era ew

# 89

In [89]:
#prompt user to input 'month' value,keep prompting until a correct value of month is input (while loop)

def get_month_input():
    while True:
        month = input("Enter a month (e.g., January, February, etc.): ").strip().capitalize()
        months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

        if month in months:
            return month
        else:
            print("Invalid month. Please enter a valid month.")

def main():
    month = get_month_input()
    print(f"You entered the month: {month}")

if __name__ == "__main__":
    main()

Enter a month (e.g., January, February, etc.): m
Invalid month. Please enter a valid month.
Enter a month (e.g., January, February, etc.): ma
Invalid month. Please enter a valid month.
Enter a month (e.g., January, February, etc.): mae
Invalid month. Please enter a valid month.
Enter a month (e.g., January, February, etc.): may
You entered the month: May

# 90

In [6]:
# write a for statement that computes the sum of all numbers between 1000 and 10000 that are divisible by 17

count=0
s=0
for i in range(1000,10000+1):
    if(i%17==0):
        print(i,end=', ')
        count+=1
        s+=i
print('count of the divisible number is:',count)
print('the total sum of the divisible numbers between 1000 to 10000:',s)

1003, 1020, 1037, 1054, 1071, 1088, 1105, 1122, 1139, 1156, 1173, 1190, 1207, 1224, 1241, 1258, 1275, 1292, 1309, 1326, 1343, 1360, 1377, 1394, 1411, 1428, 1445, 1462, 1479, 1496, 1513, 1530, 1547, 1564, 1581, 1598, 1615, 1632, 1649, 1666, 1683, 1700, 1717, 1734, 1751, 1768, 1785, 1802, 1819, 1836, 1853, 1870, 1887, 1904, 1921, 1938, 1955, 1972, 1989, 2006, 2023, 2040, 2057, 2074, 2091, 2108, 2125, 2142, 2159, 2176, 2193, 2210, 2227, 2244, 2261, 2278, 2295, 2312, 2329, 2346, 2363, 2380, 2397, 2414, 2431, 2448, 2465, 2482, 2499, 2516, 2533, 2550, 2567, 2584, 2601, 2618, 2635, 2652, 2669, 2686, 2703, 2720, 2737, 2754, 2771, 2788, 2805, 2822, 2839, 2856, 2873, 2890, 2907, 2924, 2941, 2958, 2975, 2992, 3009, 3026, 3043, 3060, 3077, 3094, 3111, 3128, 3145, 3162, 3179, 3196, 3213, 3230, 3247, 3264, 3281, 3298, 3315, 3332, 3349, 3366, 3383, 3400, 3417, 3434, 3451, 3468, 3485, 3502, 3519, 3536, 3553, 3570, 3587, 3604, 3621, 3638, 3655, 3672, 3689, 3706, 3723, 3740, 3757, 3774, 3791, 3808, 3825, 3842, 3859, 3876, 3893, 3910, 3927, 3944, 3961, 3978, 3995, 4012, 4029, 4046, 4063, 4080, 4097, 4114, 4131, 4148, 4165, 4182, 4199, 4216, 4233, 4250, 4267, 4284, 4301, 4318, 4335, 4352, 4369, 4386, 4403, 4420, 4437, 4454, 4471, 4488, 4505, 4522, 4539, 4556, 4573, 4590, 4607, 4624, 4641, 4658, 4675, 4692, 4709, 4726, 4743, 4760, 4777, 4794, 4811, 4828, 4845, 4862, 4879, 4896, 4913, 4930, 4947, 4964, 4981, 4998, 5015, 5032, 5049, 5066, 5083, 5100, 5117, 5134, 5151, 5168, 5185, 5202, 5219, 5236, 5253, 5270, 5287, 5304, 5321, 5338, 5355, 5372, 5389, 5406, 5423, 5440, 5457, 5474, 5491, 5508, 5525, 5542, 5559, 5576, 5593, 5610, 5627, 5644, 5661, 5678, 5695, 5712, 5729, 5746, 5763, 5780, 5797, 5814, 5831, 5848, 5865, 5882, 5899, 5916, 5933, 5950, 5967, 5984, 6001, 6018, 6035, 6052, 6069, 6086, 6103, 6120, 6137, 6154, 6171, 6188, 6205, 6222, 6239, 6256, 6273, 6290, 6307, 6324, 6341, 6358, 6375, 6392, 6409, 6426, 6443, 6460, 6477, 6494, 6511, 6528, 6545, 6562, 6579, 6596, 6613, 6630, 6647, 6664, 6681, 6698, 6715, 6732, 6749, 6766, 6783, 6800, 6817, 6834, 6851, 6868, 6885, 6902, 6919, 6936, 6953, 6970, 6987, 7004, 7021, 7038, 7055, 7072, 7089, 7106, 7123, 7140, 7157, 7174, 7191, 7208, 7225, 7242, 7259, 7276, 7293, 7310, 7327, 7344, 7361, 7378, 7395, 7412, 7429, 7446, 7463, 7480, 7497, 7514, 7531, 7548, 7565, 7582, 7599, 7616, 7633, 7650, 7667, 7684, 7701, 7718, 7735, 7752, 7769, 7786, 7803, 7820, 7837, 7854, 7871, 7888, 7905, 7922, 7939, 7956, 7973, 7990, 8007, 8024, 8041, 8058, 8075, 8092, 8109, 8126, 8143, 8160, 8177, 8194, 8211, 8228, 8245, 8262, 8279, 8296, 8313, 8330, 8347, 8364, 8381, 8398, 8415, 8432, 8449, 8466, 8483, 8500, 8517, 8534, 8551, 8568, 8585, 8602, 8619, 8636, 8653, 8670, 8687, 8704, 8721, 8738, 8755, 8772, 8789, 8806, 8823, 8840, 8857, 8874, 8891, 8908, 8925, 8942, 8959, 8976, 8993, 9010, 9027, 9044, 9061, 9078, 9095, 9112, 9129, 9146, 9163, 9180, 9197, 9214, 9231, 9248, 9265, 9282, 9299, 9316, 9333, 9350, 9367, 9384, 9401, 9418, 9435, 9452, 9469, 9486, 9503, 9520, 9537, 9554, 9571, 9588, 9605, 9622, 9639, 9656, 9673, 9690, 9707, 9724, 9741, 9758, 9775, 9792, 9809, 9826, 9843, 9860, 9877, 9894, 9911, 9928, 9945, 9962, 9979, 9996, count of the divisible number is: 530
the total sum of the divisible numbers between 1000 to 10000: 2914735

# 91

In [93]:
# write a program to check if a number is present in the list or not. if the number is present, print the positionmof the number. print an appropriate message if the number is not present in the list.

# Input list of numbers (you can customize this list)
numbers = [10, 20, 30, 40, 50]

# Input the number to search for
search_number = int(input("Enter a number to search for: "))

# Initialize a variable to store the position (index) of the number
position = -1  # Initialize to -1, indicating not found

# Iterate through the list to find the number and its position
for i, num in enumerate(numbers):
    if num == search_number:
        position = i
        break

# Check if the number was found or not
if position != -1:
    print(f"The number {search_number} is present at position {position}.")
else:
    print(f"The number {search_number} is not present in the list.")

Enter a number to search for: 20
The number 20 is present at position 1.

# 92

In [94]:
# write a program to read a list of n integers(positive as well as negative). create two new lists,one having all positive numbers and the other having all negative numbers from the given list. show all three lists.

# Input the list of integers (n integers separated by spaces)
input_str = input("Enter a list of integers separated by spaces: ")

# Split the input string into a list of integers
numbers = [int(x) for x in input_str.split()]

# Initialize two empty lists for positive and negative numbers
positive_numbers = []
negative_numbers = []

# Iterate through the list and separate positive and negative numbers
for num in numbers:
    if num > 0:
        positive_numbers.append(num)
    elif num < 0:
        negative_numbers.append(num)

# Display all three lists
print("Original list:", numbers)
print("Positive numbers:", positive_numbers)
print("Negative numbers:", negative_numbers)

Enter a list of integers separated by spaces: 11 12 32 1 24 53 29
Original list: [11, 12, 32, 1, 24, 53, 29]
Positive numbers: [11, 12, 32, 1, 24, 53, 29]
Negative numbers: []

# 93

mark daniels is a carpenteer who creates personalized house signs. he wants an application to compute the price of any sign a customer order , based on the following factors: 
1)the minimum  charge for all signs is 30.

2)if the sign is made of oak, add 15. no charge is added for pine.

3)the first six letters or numbers are included in the minimum charge; there is a 3 charge for each additional character.                                       

4)black and white characers are included inthe minimum charge; there is an additional 12 charge for gold lettering.                                        
a) a program that accepts data for an order number, customer name, wwod type, number of characters, and color of characters. display all the entered data and the final price for the sign.   

b) a program that continuously accepts sign order data and displays all the relevant information for oak signs with five white letters.   

c) a program that continuously accepts sign order data and displays all the relevant information for pine signs with gold-leaf lettering and more than 10 characters

In [114]:
while True:
    print('1.the detail of personalized house sign')
    print('2. exit')
    choice=int(input('enter the choice(1/2):'))
    if choice==1:
           
        min_charge=30
        order_number=int(input('enter the order number of the customer:'))
        customer_name=input('enter the customer name:')
        sign=input('enter the wood type(oak/pine/anthing):')
        num_character=int(input('enter the number of characters:'))
        colour=input('enter the colour of characters(black/white/gold_leaf):')
        
        
        if sign=='oak':
            charge=min_charge+15
        else:
            charge=min_charge
    
        if (num_character)>6:
            charge+= (num_character-6)*3
    
        if colour=='gold_leaf':
            charge+=12
        else:
            charge=min_charge
    

        print('the total amount is:',charge)
    elif (choice==2):
        print('thank you')
        break
    else:
        print('invalid option')

1.the detail of personalized house sign
2. exit
enter the choice(1/2):1
enter the order number of the customer:11
enter the customer name:we
enter the wood type(oak/pine/anthing):oak
enter the number of characters:12
enter the colour of characters(black/white/gold_leaf):gold_leaf
the total amount is: 75
1.the detail of personalized house sign
2. exit
enter the choice(1/2):1
enter the order number of the customer:12
enter the customer name:wq
enter the wood type(oak/pine/anthing):anything
enter the number of characters:6
enter the colour of characters(black/white/gold_leaf):black
the total amount is: 30
1.the detail of personalized house sign
2. exit
enter the choice(1/2):2
thank you

# 94

black dot printing ia attempting to organize carpools to save energy. each input record contains an employee's name and town of residence. ten persent of the company's employees live in wonder lake; 30 percent live in the adjacent town of woodstock. black dot wants to encourage employees who live in either town to drive to work together.

a) a program that accepts an employee's data and displays it with a message that indicates whether the employee is a candidate for the carpool(because he live in one of the two cities).

b) a program that continuously accepts employee data until a sentinel value is entered , and displays a list of all employees who are carpool candidates.

c)a program that continuously accepts employee data untill a sentinel value is entered, and displays a list of all employee who are ineligible to carpool because they do not live in either wonder lake or woodstock.

In [131]:
employee_data=[]
while True:
    name=input('enter the name of the employee(or enter "quit" to stop):')
    
    if name=='quit':
        break
    
    town=input('enter the town of the employee:')
    
    employee_data.append((name,town))
    
for name,town in employee_data:
        
    if (town.lower()== 'wonder lake' or town.lower()=='woodstock'):
        print(f'{name} are carpool candidates')
            
    else:
        print(f'{name} not the carpool candidates')

enter the name of the employee(or enter "quit" to stop):an
enter the town of the employee:woodstock
enter the name of the employee(or enter "quit" to stop):pol
enter the town of the employee:wonder lake
enter the name of the employee(or enter "quit" to stop):moni
enter the town of the employee:hjfghfhbj
enter the name of the employee(or enter "quit" to stop):quit
an are carpool candidates
pol are carpool candidates
moni not the carpool candidates

# 95

design a program that computes pay for employees.

weekly gross pay                withholding percentage(%)
0.00-300.00                       10
300.01-550.00                     13
550.01-800.00                     16
800.01-and up                     20

withholding percentage based on grosss pay

allow a user to continuously input employees' name until an appropriate sentinel value entered. also input each employee's hourly wage and hours worked. compute each employee gross pay(hours times rate), withholding tax percentage (based on above table), withholding tax amount, and net pay (gross pay minus withholding tax). display all the results for each employee. after the employee has been entered, display the sum of all the hours worked,the total gross payroll, the total withholding for all employees, and the total net payroll.

In [135]:
total_hourlyworked=0
total_grosspay=0
total_withholding=0
total_netpayroll=0
while True:
    employee_name=input('enter the name(or enter "quit"):')
    if employee_name=='quit':
        break
    
    else:
        hourly_wage=int(input('enter the hourly wage of the employee:'))
        hourly_worked=int(input('enter the hourly worked the employee:'))
        gross_pay=hourly_wage*hourly_worked
        
        
    if gross_pay<=300:
        withholding_amount=gross_pay*(10/100)
    elif gross_pay<=550:
        withholding_amount=gross_pay*(13/100)
    elif gross_pay<=800:
        withholding_amount=gross_pay*(16/100)
    else:
        withholding_amount=gross_pay*(20/100)
        
    net_pay=gross_pay-withholding_amount
    
    print("\nEmployee Name:", employee_name)
    print("Hourly Wage:", hourly_wage)
    print('the gross pay:',gross_pay)
    print('the hourly worked:',hourly_worked)
    print('the withholding tax amount:',withholding_amount)
    print('the net pay :',net_pay)
    
    
    total_hourlyworked+=hourly_worked
    total_grosspay+=gross_pay
    total_withholding+=withholding_amount
    total_netpayroll+=net_pay
    
print('\nTotal Gross Payroll for All Employees:',total_grosspay)
print('Total Hours Worked for All Employees:',total_hourlyworked)
print('Total Withholding for All Employees:',total_withholding)
print('Total Net Payroll for All Employees:',total_netpayroll)

enter the name(or enter "quit"):w
enter the hourly wage of the employee:34
enter the hourly worked the employee:4

Employee Name: w
Hourly Wage: 34
the gross pay: 136
the hourly worked: 4
the withholding tax amount: 13.600000000000001
the net pay : 122.4
enter the name(or enter "quit"):t
enter the hourly wage of the employee:57
enter the hourly worked the employee:7

Employee Name: t
Hourly Wage: 57
the gross pay: 399
the hourly worked: 7
the withholding tax amount: 51.870000000000005
the net pay : 347.13
enter the name(or enter "quit"):i
enter the hourly wage of the employee:320
enter the hourly worked the employee:9

Employee Name: i
Hourly Wage: 320
the gross pay: 2880
the hourly worked: 9
the withholding tax amount: 576.0
the net pay : 2304.0
enter the name(or enter "quit"):quit
Total Gross Payroll for All Employees: 3415
Total Hours Worked for All Employees: 20
Total Withholding for All Employees: 641.47
Total Net Payroll for All Employees: 2773.5299999999997

In [134]:
# Initialize variables to store totals
total_hours_worked = 0
total_gross_payroll = 0
total_withholding = 0
total_net_payroll = 0

while True:
    # Input employee's name (use "quit" to exit)
    employee_name = input("Enter employee's name (or 'quit' to exit): ")

    if employee_name.lower() == "quit":
        break

    # Input hourly wage and hours worked
    hourly_wage = float(input("Enter hourly wage: "))
    hours_worked = float(input("Enter hours worked: "))

    # Calculate gross pay
    gross_pay = hourly_wage * hours_worked

    # Determine withholding percentage
    if gross_pay <= 300:
        withholding_percentage = 10
    elif gross_pay <= 550:
        withholding_percentage = 13
    elif gross_pay <= 800:
        withholding_percentage = 16
    else:
        withholding_percentage = 20

    # Calculate withholding tax amount
    withholding_amount = (withholding_percentage / 100) * gross_pay

    # Calculate net pay
    net_pay = gross_pay - withholding_amount

    # Display employee's pay details
    print("\nEmployee Name:", employee_name)
    print("Hourly Wage:", hourly_wage)
    print("Hours Worked:", hours_worked)
    print("Gross Pay:", gross_pay)
    print("Withholding Percentage:", withholding_percentage, "%")
    print("Withholding Tax Amount:", withholding_amount)
    print("Net Pay:", net_pay)

    # Update totals
    total_hours_worked += hours_worked
    total_gross_payroll += gross_pay
    total_withholding += withholding_amount
    total_net_payroll += net_pay

# Display totals for all employees
print("\nTotal Hours Worked for All Employees:", total_hours_worked)
print("Total Gross Payroll for All Employees:", total_gross_payroll)
print("Total Withholding for All Employees:", total_withholding)
print("Total Net Payroll for All Employees:", total_net_payroll)

Enter employee's name (or 'quit' to exit): e
Enter hourly wage: 50
Enter hours worked: 8

Employee Name: e
Hourly Wage: 50.0
Hours Worked: 8.0
Gross Pay: 400.0
Withholding Percentage: 13 %
Withholding Tax Amount: 52.0
Net Pay: 348.0
Enter employee's name (or 'quit' to exit): t
Enter hourly wage: 155
Enter hours worked: 6

Employee Name: t
Hourly Wage: 155.0
Hours Worked: 6.0
Gross Pay: 930.0
Withholding Percentage: 20 %
Withholding Tax Amount: 186.0
Net Pay: 744.0
Enter employee's name (or 'quit' to exit): y
Enter hourly wage: 45
Enter hours worked: 5

Employee Name: y
Hourly Wage: 45.0
Hours Worked: 5.0
Gross Pay: 225.0
Withholding Percentage: 10 %
Withholding Tax Amount: 22.5
Net Pay: 202.5
Enter employee's name (or 'quit' to exit): quit

Total Hours Worked for All Employees: 19.0
Total Gross Payroll for All Employees: 1555.0
Total Withholding for All Employees: 260.5
Total Net Payroll for All Employees: 1294.5

# 96

A class named order that performs order processing of a single item. the class has four fields: customer name, customer number, quantity ordered, and unit price. include set and get methods for each field.the set methods prompt the user for values for each field. this class also needs a computeprice() method to compute the total price(quantity multiplied by unit price) and a method to display the field values.

a) create a subclass named shipped order that overrides computerprice() by adding a shipping and handling charge of 4.00.

b) create the logic for an application that instantiates an object of each of these two classes. prompt the user for data for the order object and display the results; then prompt the user for data for the shipped order object and display the results.

c) create the logic for an application that continuously prompts for order information until the user enters ZZZ for the customer name or 10 orders have been taken, whichever comes first. ask the user whether each order will be shipped, and create an order or a shippedorder accordingly. store each order in an array element. when the user finishes entering data, display all the order information taken as well as the total price that was computed for each order.

In [10]:
class Order:
    def _init_(self):
        self.customer_name = ""
        self.customer_number = ""
        self.quantity_ordered = 0
        self.unit_price = 0.0

    def set_customer_name(self, name):
        self.customer_name = name

    def get_customer_name(self):
        return self.customer_name

    def set_customer_number(self, number):
        self.customer_number = number

    def get_customer_number(self):
        return self.customer_number

    def set_quantity_ordered(self, quantity):
        self.quantity_ordered = quantity

    def get_quantity_ordered(self):
        return self.quantity_ordered

    def set_unit_price(self, price):
        self.unit_price = price

    def get_unit_price(self):
        return self.unit_price

    def compute_price(self):
        return self.quantity_ordered * self.unit_price

    def display_order(self):
        print("Customer Name: ",self.customer_name)
        print("Customer Number: ",self.customer_number)
        print("Quantity Ordered: ",self.quantity_ordered)
        print("Unit Price: ",self.unit_price)
        print("Total Price: ",self.compute_price())



class ShippedOrder(Order):
    def compute_price(self):
        base_price = super().compute_price()
        return base_price + 4.00


order = Order()
print("Enter Order Information:")
order.set_customer_name(input("Customer Name: "))
order.set_customer_number(input("Customer Number: "))
order.set_quantity_ordered(int(input("Quantity Ordered: ")))
order.set_unit_price(float(input("Unit Price: ")))


order.display_order()


shipped_order = ShippedOrder()
print("\nEnter Shipped Order Information:")
shipped_order.set_customer_name(input("Customer Name: "))
shipped_order.set_customer_number(input("Customer Number: "))
shipped_order.set_quantity_ordered(int(input("Quantity Ordered: ")))
shipped_order.set_unit_price(float(input("Unit Price: ")))


shipped_order.display_order()

Enter Order Information:
Customer Name: w
Customer Number: 3
Quantity Ordered: 3
Unit Price: 44
Customer Name:  w
Customer Number:  3
Quantity Ordered:  3
Unit Price:  44.0
Total Price:  132.0

Enter Shipped Order Information:
Customer Name: r
Customer Number: 5
Quantity Ordered: 555
Unit Price: 5555
Customer Name:  r
Customer Number:  5
Quantity Ordered:  555
Unit Price:  5555.0
Total Price:  3083029.0

In [11]:
orders = []

while len(orders) < 10:
    customer_name = input("Enter customer name (ZZZ to exit): ")
    
    if customer_name == "ZZZ":
        break
    
    is_shipped_order = input("Is this a shipped order? (yes/no): ").lower() == "yes"
    
    if is_shipped_order:
        order = ShippedOrder()
    else:
        order = Order()
    
    order.set_customer_name()
    order.set_customer_number()
    order.set_quantity_ordered()
    order.set_unit_price()
    
    orders.append(order)

# Display all order information
for i, order in enumerate(orders):
    print(f"\nOrder {i + 1} Information:")
    order.display_order()

# Calculate and display total prices for each order
for i, order in enumerate(orders):
    print(f"Total Price for Order {i + 1}: {order.compute_price()}")

Enter customer name (ZZZ to exit): e
Is this a shipped order? (yes/no): 4

TypeError: set_customer_name() missing 1 required positional argument: 'name'

In [12]:
class Order:
    def __init__(self, customer_name, customer_number, quantity_ordered, unit_price):
        self.customer_name = customer_name
        self.customer_number = customer_number
        self.quantity_ordered = quantity_ordered
        self.unit_price = unit_price

    def compute_price(self):
        return self.quantity_ordered * self.unit_price

    def display_order(self):
        print("Customer Name:", self.customer_name)
        print("Customer Number:", self.customer_number)
        print("Quantity Ordered:", self.quantity_ordered)
        print("Unit Price:", self.unit_price)
        print("Total Price:", self.compute_price())

class ShippedOrder(Order):
    def __init__(self, customer_name, customer_number, quantity_ordered, unit_price):
        super().__init__(customer_name, customer_number, quantity_ordered, unit_price)

    def compute_price(self):
        return super().compute_price() + 4.00

def main():
    orders = []
    max_orders = 10

    while len(orders) < max_orders:
        print("\nEnter Order Details:")
        customer_name = input("Enter Customer Name ('ZZZ' to exit): ")
        if customer_name == 'ZZZ' or len(orders) == max_orders:
            break

        customer_number = input("Enter Customer Number: ")
        quantity_ordered = int(input("Enter Quantity Ordered: "))
        unit_price = float(input("Enter Unit Price: "))
        is_shipped = input("Is it a Shipped Order (Y/N): ").strip().upper() == 'Y'

        if is_shipped:
            order = ShippedOrder(customer_name, customer_number, quantity_ordered, unit_price)
        else:
            order = Order(customer_name, customer_number, quantity_ordered, unit_price)

        orders.append(order)

    print("\nOrder Details:")
    for i, order in enumerate(orders):
        print(f"\nOrder {i + 1}:")
        order.display_order()
        print("===================================")

    print("\nTotal Prices:")
    for i, order in enumerate(orders):
        print(f"Order {i + 1} Total Price:", order.compute_price())

if __name__ == "__main__":
    main()

Enter Order Details:
Enter Customer Name ('ZZZ' to exit): s
Enter Customer Number: 4
Enter Quantity Ordered: 44
Enter Unit Price: 4
Is it a Shipped Order (Y/N): n

Enter Order Details:
Enter Customer Name ('ZZZ' to exit):
Enter Customer Number:
Enter Quantity Ordered:

ValueError: invalid literal for int() with base 10: ''

# 97

create the following series and do the specified operations:

a) english alphabets, having 26 elements with the alphabets as values and default index values.

b) vowels, having 5 elements with index labels 'a','e','i','o' and 'u' and all the five values set to zero. check if it is an empty series.

c) friends, from a dictionary having roll numbers of five of your friends as data and their first name as keys.

d) MT series, an empty series. check if it is an empty series.  

e) monthdays, from a numpy array having the number of days in the 12 months of a year. the labels should be the month numbers from 1 to 12.

write commands for the following:

a) set all the values of vowels to 10 and diplay the series.

b)divide all values of vowels by 2 and display the series. 

c)create another series vowels having 5 elements with index labels 'a','e','i','o' and 'u' having values [2,5,6,3,8] respectively.

d) add vowels and vowels1 and assign the result to vowels3.

e)subtract, multiply and divide vowels by vowels1.

f) alter the labels of vowels1 to ['A','E','I','O','U'].

In [147]:
import pandas as pd
import numpy as np

# Create the series
# a) English alphabets
alphabets = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

# b) Vowels
vowels = pd.Series([0, 0, 0, 0, 0], index=['a', 'e', 'i', 'o', 'u'])
is_empty_vowels = vowels.empty

# c) Friends
friends_dict = {101: 'Alice', 102: 'Bob', 103: 'Charlie', 104: 'David', 105: 'Eve'}
friends = pd.Series(friends_dict)

# d) MT series
MT = pd.Series()
is_empty_MT = MT.empty

# e) Monthdays
monthdays = pd.Series(np.array([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]), index=range(1, 13))

# Commands
# a) Set all values of vowels to 10
vowels[:] = 10
print("a) Vowels with all values set to 10:")
print(vowels)

# b) Divide all values of vowels by 2
vowels = vowels / 2
print("\nb) Vowels with all values divided by 2:")
print(vowels)

# c) Create another series 'vowels1'
vowels1 = pd.Series([2, 5, 6, 3, 8], index=['a', 'e', 'i', 'o', 'u'])

# d) Add vowels and vowels1
vowels3 = vowels + vowels1
print("\nd) Sum of vowels and vowels1:")
print(vowels3)

# e) Subtract, multiply, and divide vowels by vowels1
print("\ne) Subtraction of vowels from vowels1:")
print(vowels1 - vowels)
print("\nMultiplication of vowels and vowels1:")
print(vowels * vowels1)
print("\nDivision of vowels by vowels1:")
print(vowels / vowels1)

# f) Alter the labels of vowels1
vowels1.index = ['A', 'E', 'I', 'O', 'U']
print("\nf) Vowels1 with altered labels:")
print(vowels1)

a) Vowels with all values set to 10:
a    10
e    10
i    10
o    10
u    10
dtype: int64

b) Vowels with all values divided by 2:
a    5.0
e    5.0
i    5.0
o    5.0
u    5.0
dtype: float64

d) Sum of vowels and vowels1:
a     7.0
e    10.0
i    11.0
o     8.0
u    13.0
dtype: float64

e) Subtraction of vowels from vowels1:
a   -3.0
e    0.0
i    1.0
o   -2.0
u    3.0
dtype: float64

Multiplication of vowels and vowels1:
a    10.0
e    25.0
i    30.0
o    15.0
u    40.0
dtype: float64

Division of vowels by vowels1:
a    2.500000
e    1.000000
i    0.833333
o    1.666667
u    0.625000
dtype: float64

f) Vowels1 with altered labels:
A    2
E    5
I    6
O    3
U    8
dtype: int64

<ipython-input-147-86dcf899cc17>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  MT = pd.Series()

# 98

In [57]:
# Initialize variables to store the count and sum
count = 0
sum_divisible_by_9 = 0

# Iterate through numbers from 100 to 200 (inclusive)
for number in range(100, 201):
    if number % 9 == 0:
        # Check if the number is divisible by 9
        count += 1
        sum_divisible_by_9 += number

# Display the count and sum of numbers divisible by 9
print(f"Count of numbers divisible by 9 between 100 and 200: {count}")
print(f"Sum of numbers divisible by 9 between 100 and 200: {sum_divisible_by_9}")

Count of numbers divisible by 9 between 100 and 200: 11
Sum of numbers divisible by 9 between 100 and 200: 1683

In [146]:
#LCM
a= int(input("Enter first number: "))
b= int(input("Enter second number: ")) 
if a>b:
   small=b
else:
   small=a
for i in range(1,small+1):
    if (a%i==0) and (b%i==0):
       hcf=i
LCM=a*b/(hcf)
LCM=int(LCM)
print("LCM =", LCM)

Enter first number: 4
Enter second number: 5
LCM = 20

# 99

In [149]:
def deck():
    n=["A","2","3","4","5","6","7","8","9","10","K","J","Q"]
    sym=["D","H","A","S"]
    z=[]
    for i in n:
         for j in sym:
                card=i+j
                z.append(card)
    return z

deck()

['AD',
 'AH',
 'AA',
 'AS',
 '2D',
 '2H',
 '2A',
 '2S',
 '3D',
 '3H',
 '3A',
 '3S',
 '4D',
 '4H',
 '4A',
 '4S',
 '5D',
 '5H',
 '5A',
 '5S',
 '6D',
 '6H',
 '6A',
 '6S',
 '7D',
 '7H',
 '7A',
 '7S',
 '8D',
 '8H',
 '8A',
 '8S',
 '9D',
 '9H',
 '9A',
 '9S',
 '10D',
 '10H',
 '10A',
 '10S',
 'KD',
 'KH',
 'KA',
 'KS',
 'JD',
 'JH',
 'JA',
 'JS',
 'QD',
 'QH',
 'QA',
 'QS']

# 100

In [150]:
m_names, m_dist, k_names, k_dist = [], [], [], []
while True:
    name = input("Faulty Name: ")
    if name == "":
        break
    route = eval(input("Enter Direction(0 for Kaniyapuram/1 for Mangalapuram): "))
    dist = eval(input("Enter distance in km: "))
    if dist <= 20:
        if route == 0:
            k_names.append(name)
            k_dist.append(dist)
        else:
            m_names.append(name)
            m_dist.append(dist)
combined_data_k = list(zip(k_dist, k_names))
combined_data_m = list(zip(m_dist, m_names))
combined_data_k.sort(reverse=True)
combined_data_m.sort(reverse=True)
trans_dist_k = 0
trans_dist_m = 0
K_1 = []
K_N1 = []
if len(combined_data_k) <= 4:
    for i in range(len(combined_data_k)):
        K_2 = combined_data_k[i][0]
        K_N2 = combined_data_k[i][1]
        K_1.append(K_2)
        K_N1.append(K_N2)
else:
    for i in range(4):
        K_2 = combined_data_k[i][0]
        K_N2 = combined_data_k[i][1]
        K_1.append(K_2)
        K_N1.append(K_N2)
trans_dist_k += trans_dist_k + sum(K_1)

M_1 = []
M_N1 = []
if len(combined_data_m) <= 4:
    for j in range(len(combined_data_m)):
        M_2 = combined_data_m[j][0]
        M_N2 = combined_data_m[j][1]
        M_1.append(M_2)
        M_N1.append(M_N2)
else:
    for j in range(4):
        M_2 = combined_data_m[j][0]
        M_N2 = combined_data_m[j][1]
        M_1.append(M_2)
        M_N1.append(M_N2)
trans_dist_m += trans_dist_m + sum(M_1)

if trans_dist_k > trans_dist_m:
    print("Route: Kaniyapuram")
    print("Eligible faculties are:", K_N1)
    print("Total distance is: ", trans_dist_k, "km")
else:
    print("Route: Mangalapuram")
    print("Eligible faculties are:", M_N1)
    print("Total distance is: ", trans_dist_m, "km")

Faulty Name: w
Enter Direction(0 for Kaniyapuram/1 for Mangalapuram): 0
Enter distance in km: 9
Faulty Name: e
Enter Direction(0 for Kaniyapuram/1 for Mangalapuram): 1
Enter distance in km: 7
Faulty Name: o
Enter Direction(0 for Kaniyapuram/1 for Mangalapuram): 0
Enter distance in km: 11
Faulty Name: d
Enter Direction(0 for Kaniyapuram/1 for Mangalapuram): 1
Enter distance in km: 2
Faulty Name: t
Enter Direction(0 for Kaniyapuram/1 for Mangalapuram): 1
Enter distance in km: 8
Faulty Name: k
Enter Direction(0 for Kaniyapuram/1 for Mangalapuram): 1
Enter distance in km: 11
Faulty Name:
Route: Mangalapuram
Eligible faculties are: ['k', 't', 'e', 'd']
Total distance is:  28 km

In [158]:
n=5
for i in range(1,11):
    s=i*n
    print(i,'*',n,'=',s)

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [159]:
#gcd
a=int(input('enter 1 number:'))
b=int(input('enter 2 number:'))
while b!=0:
    r=a%b
    a=b
    b=r
    
print('gcd:',a)

enter 1 number:44
enter 2 number:33
gcd: 11

In [161]:
#fibanacci

n=10
a,b=1,1
while a<n:
    print(a)
    a=b
    b=a+b

1
1
2
4
8

In [162]:
#celcius or fahrenheit
n=input('enter the condition(1.fahreheit/2.celcius):')
if n==1:
    f=int(input('enter the fahreheit:'))
    c=(f-32)*(5/9)
    print('celcius:',c)
    
else:
    c=int(input('enter the celcius:'))
    f=(9/5)*c+32
    print('fahrenheit:',f)

enter the condition(1.fahreheit/2.celcius):1
enter the celcius:12
fahrenheit: 53.6

In [164]:
# factorial
n=int(input('enter the number:'))
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

enter the number:5
120

In [166]:
# leap year
n=int(input('enter the year:'))
if (n%4==0 and n%100!=0 or n%400==0):
    print('it is leap year')
    
else:
    print('not leap year')

enter the year:2024
it is leap year

In [173]:
for i in range(1900,2000):
    if (i%4==0 and i%100!=0 or i%400==0):
        print(i,end=',')

1904,1908,1912,1916,1920,1924,1928,1932,1936,1940,1944,1948,1952,1956,1960,1964,1968,1972,1976,1980,1984,1988,1992,1996,

In [174]:
# palindrome

def palindrome(n):
    left=0
    rev=len(n)-1
    while (left <= rev):
        if(n[left]!=n[rev]):
            return 'not palindrome'
        left+=1
        rev-=1
    return 'palindrome'

palindrome('malayalam')

'palindrome'

In [177]:
# prime or not
n=int(input('enter the number:'))
for i in range(1,n):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

enter the number:10
2
3
5
7

In [187]:
def prime(n):
    s=0
    if n==1:
        print('not prime')
    else:
        for i in range(2,n):
            if (n%i==0):
                s+=1
                break
        if(s!=0):
            print('not prime')
        else:
            print('prime')

In [189]:
prime(4)

not prime

In [195]:
# user guess
def guessing():
    target=int(input('enter the target number:'))
    attempt=0
    while True:
        guess_num=int(input('enter the guess number:'))
        attempt+=1
        if guess_num==target:
            print('the guess number is correct to target number')
            break
        elif(guess_num<target):
            print('the guess number is less than targe number')
        else:
            print('the guess number is greater than target number')
            
    print('the number of attempts are:',attempt)
            
            
guessing()

enter the target number:33
enter the guess number:44
the gues number is greater than target number
enter the guess number:55
the gues number is greater than target number
enter the guess number:23
the guess number is less than targe number
enter the guess number:33
the guess number is correct to target number
the number of attempts are: 4

In [13]:
# index question
s='1abcdefghijklmnopqrstuvwxyz'
indices=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]
for i in indices:
    print(i,s[i])

1 a
2 b
3 c
4 d
5 e
6 f
7 g
8 h
9 i
10 j
11 k
12 l
13 m
14 n
15 o
16 p
17 q
18 r
19 s
20 t
21 u
22 v
23 w
24 x
25 y
26 z

In [ ]:
37,38,39,40,45,135

In [23]:
c = int(input('Enter the limit: '))
n = []

# Take input for the list
for i in range(c):
    num = int(input(f'Enter number {i + 1}: '))
    n.append(num)

print(n)

# Initialize lists for positive and negative numbers
positive_numbers = []
negative_numbers = []

# Count zero values
zero = 0

# Separate positive, negative, and zero values
for num in n:
    if num > 0:
        positive_numbers.append(num)
    elif num < 0:
        negative_numbers.append(num)
    else:
        zero += 1

print(f"Positive numbers: {positive_numbers}")
print('the count of positive numbers:',len(positive_numbers))
print(f"Negative numbers: {negative_numbers}")
print('the count of positive numbers:',len(negative_numbers))
print(f"Number of zero numbers: {zero}")

Enter the limit: 6
Enter number 1: 2
Enter number 2: 3
Enter number 3: -9
Enter number 4: -7
Enter number 5: 0
Enter number 6: 66
[2, 3, -9, -7, 0, 66]
Positive numbers: [2, 3, 66]
the count of positive numbers: 3
Negative numbers: [-9, -7]
the count of positive numbers: 2
Number of zero numbers: 1

In [34]:
def number(n):
    pos=[]
    neg=[]
    zero=0
    for num in n:
        if num>0:
            pos.append(num)
        elif num<0:
            neg.append(num)
        else:
            zero+=1
            
    print('positive numbers:',pos)
    print('count of positive number',len(pos))
    print('negative numbers:',neg)
    print('count of positive number',len(neg))
    print('zero numbers count:',zero)

In [35]:
number(n=[2,3,4,-5,-55,0,-33,77])

positive numbers: [2, 3, 4, 77]
count of positive number 4
negative numbers: [-5, -55, -33]
count of positive number 3
zero numbers count: 1

In [53]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(1,i+1):
        print('*',end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [36]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(1,i+1):
        print(k,end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [37]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(i,0,-1):
        print(k,end=' ')
    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [54]:
for i in range(1,6):
    for j in range(5,i):
        print('',end=' ')
    for k in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [39]:
for i in range(1,6):
    for j in range(5,i):
        print(' ',end=' ')
    for k in range(1,i+1):
        print(k,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [40]:
for i in range(1,6):
    for j in range(5,i):
        print(' ',end=' ')
    for k in range(i,0,-1):
        print(k,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [58]:
n=1
for i in range(1,6):
    for j in range(1,i+1):
        print(n,end=' ')
        n+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [57]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(1,i+1):
        print('*',end=' ')
    for m in range(i-1,0,-1):
        print('*',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [41]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(1,i+1):
        print(k,end=' ')
    for m in range(i-1,0,-1):
        print(m,end=' ')
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [52]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(i,0,-1):
        print(k,end=' ')
    for m in range(2,i+1):
        print(m,end=' ')
    print()

        1
      2 1 2
    3 2 1 2 3
  4 3 2 1 2 3 4
5 4 3 2 1 2 3 4 5

In [65]:
n=5
d=0
s=0
for i in range(1,n):
    d=d*10+1
    s+=d
    print(d,end=' + ')
print('=',s,end='  ')

1 + 11 + 111 + 1111 + = 1234

In [81]:
n=6
for i in range(0,n):
    print('@',end=' ')
    for j in range(0,i):
        print('>',end=' ')
    print('\\')

@ \
@ > \
@ > > \
@ > > > \
@ > > > > \
@ > > > > > \

In [95]:
n=10
for i in range(0,n):
    for j in range(0,n):
        if (i==0 or i==n-1) or (j==0 or j==n-1):
            print('x',end=' ')
        elif(i==1 or i==n-2) or (j==1 or j==n-2):
            print('0',end=' ')
        elif(i==2 or i==n-3) or (j==2 or j==n-3):
            print('x',end=' ')
        else:
            print(' ',end=' ')
    print()

x x x x x x x x x x
x 0 0 0 0 0 0 0 0 x
x 0 x x x x x x 0 x
x 0 x         x 0 x
x 0 x         x 0 x
x 0 x         x 0 x
x 0 x         x 0 x
x 0 x x x x x x 0 x
x 0 0 0 0 0 0 0 0 x
x x x x x x x x x x

In [135]:
# password checking
def strong_password(password):
    min_letter=8
    uppercase=False
    lowercase=False
    digits=False
    special_char=False
    
    for i in password:
        if i.isupper():
            uppercase=True
        elif i.islower():
            lowercase=True
        elif i.isdigit():
            digits=True
        else:
            special_char=True
            
    if len(password)<min_letter:
        return False
    elif not(uppercase and lowercase and digits and special_char):
        return False
    else:
        return True

In [136]:
strong_password(password='Anerer@005')

True

In [144]:
# atm

def atm():
    balance=100000
    while True:
        print('welcome')
        print('\n 1.deposit money')
        print(' 2.widrow money')
        print(' 3.balance checking')
        print(' 4. exit')
    
        choice=int(input('enter the choice:'))
        if choice==1:
            deposit=int(input('enter the deposit amount:'))
            balance+=deposit
        elif choice==2:
            widrow=int(input('enter the widrow amount:'))
            if widrow>balance:
                print('its not possible to work')
            else:
                balance-=widrow
        elif choice==3:
            print('the currect balance amount:',balance)
        elif choice==4:
            print('thank you')
            break
        else:
            print('invalid entry please try again')
            
atm()

welcome

 1.deposit money
 2.widrow money
 3.balance checking
 4. exit
enter the choice:1
enter the deposit amount:1220
welcome

 1.deposit money
 2.widrow money
 3.balance checking
 4. exit
enter the choice:2
enter the widrow amount:7800
welcome

 1.deposit money
 2.widrow money
 3.balance checking
 4. exit
enter the choice:3
the currect balance amount: 93420
welcome

 1.deposit money
 2.widrow money
 3.balance checking
 4. exit
enter the choice:5
invalid entry please try again
welcome

 1.deposit money
 2.widrow money
 3.balance checking
 4. exit
enter the choice:4
thank you

In [148]:
while True:
    print('1.the detail of personalized house sign')
    print('2. exit')
    choice=int(input('enter the choice(1/2):'))
    if choice==1:
           
        min_charge=30
        order_number=int(input('enter the order number of the customer:'))
        customer_name=input('enter the customer name:')
        sign=input('enter the wood type(oak/pine/anthing):')
        num_character=int(input('enter the number of characters:'))
        colour=input('enter the colour of characters(black/white/gold_leaf):')
        
        
        if sign=='oak':
            charge=min_charge+15
        else:
            charge=min_charge
    
        if (num_character)>6:
            charge+= (num_character-6)*3
    
        if colour=='gold_leaf':
            charge+=12
        else:
            charge=min_charge
    

        print('the total amount is:',charge)
    elif (choice==2):
        print('thank you')
        break
    else:
        print('invalid option')

1.the detail of personalized house sign
2. exit
enter the choice(1/2):1
enter the order number of the customer:1
enter the customer name:w
enter the wood type(oak/pine/anthing):oak
enter the number of characters:5
enter the colour of characters(black/white/gold_leaf):black
the total amount is: 30
1.the detail of personalized house sign
2. exit
enter the choice(1/2):2
thank you

In [151]:
def nameplate():
    while True:
        print('1.the details of the name plate')
        print('2. exit')
    
        min_charge=2500
        choice=int(input('enter the choice:'))
        if choice==1:
            sign=int(input('enter the sign is(0.plastic/1.wood/2.metal):'))
            letter=int(input('enter the letter type is (1.normal/2.gold_leaf):'))
            name=input('enter the name:')
            if sign==1:
                charge=min_charge+1000
            elif sign==2:
                charge=min_charge+500
            else:
                charge=min_charge
            
            if letter==2:
                charge+=750
            else:
                charge=min_charge
            
            if len(name)>6:
                n=(len(name)-6)*200
                charge+=n
            
            print('the amount for this name plate preparation:',charge)
        
        elif choice==2:
            print('exit')
            break
        else:
            print('invalid option')
            
nameplate()

1.the details of the name plate
2. exit
enter the choice:1
enter the sign is(0.plastic/1.wood/2.metal):1
enter the letter type is (1.normal/2.gold_leaf):2
enter the name:sdggdf
the amount for this name plate preparation: 4250
1.the details of the name plate
2. exit
enter the choice:2
exit

In [159]:
def word(text):
    dicts={}
    words=text.split()
    
    for i in words:
        i=i.lower()
        if i in dicts:
            dicts[i]+=1
        else:
            dicts[i]=1
    return dicts

In [162]:
word('fjf r r i jtn i re i tnjj re gi ditn jev tirji ei ei')

{'fjf': 1,
 'r': 2,
 'i': 3,
 'jtn': 1,
 're': 2,
 'tnjj': 1,
 'gi': 1,
 'ditn': 1,
 'jev': 1,
 'tirji': 1,
 'ei': 2}

In [163]:
def stati(score):
    avg=sum(score)/len(score)
    larg=max(score)
    small=min(score)
    print('average:',avg)
    print('largest number:',larg)
    print('smallest number:',small)

In [164]:
stati(score=[2,-1,22,33,432,445,3,41-4,-44])

average: 103.22222222222223
largest number: 445
smallest number: -44

In [202]:

n=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
s_n=input('enter the letter:')
p=-1

for i,num in enumerate(n):
    if num==s_n:
        p=i
        break
if p!=-1:
    print(f'the {s_n} is the letter of position is {p}')
else:
    print(f'the {s_n} is not in the list')

enter the letter:e
the e is the letter of position is 4

In [198]:

numbers = [10, 20, 30, 40, 50]

search_number = int(input("Enter a number to search for: "))

position = -1  


for i, num in enumerate(numbers):
    if num == search_number:
        position = i
        break

if position != -1:
    print(f"The number {search_number} is present at position {position}.")
else:
    print(f"The number {search_number} is not present in the list.")

Enter a number to search for: 2
The number 2 is not present in the list.